.select2-container--default {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: -1px;
}
.select2-container--default.select2-container--open {
	border-bottom: 0;
	margin-bottom: 0;
}
html:not(.ie9) .select2 {
	position: relative;
}
html:not(.ie9) .select2:not(.fg-line):before {
	right: 5px;
}
html:not(.ie9) .select2:before {
	position: absolute;
	top: 1px;
	margin-right: 5px;
	content: "";
	height: calc(100% - 2px);
	width: 15px;
	background-position: right calc(100% - 7px);
	background-repeat: no-repeat;
	background-image: url("../img/select.png");
	pointer-events: none;
	z-index: 5;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #fff;
}
.select2-container--default .select2-selection {
	background-color: #fff;
	border: 1px solid #fff;
	margin-left: -1px;
}
.select2-container--default.select2-container--open .select2-selection {
	border: 1px solid #aaa;
	margin-left: -1px;
	margin-right: 1px;
}
.select2-container--open .select2-dropdown {
	color: #000;
	margin-left: -1px;
}
.select2-container--default .select2-selection .select2-selection__arrow {
	right: 4px;
}
.select2-container .select2-selection .select2-selection__rendered {
	color: #000;
	display: block;
	padding-left: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-right: 30px;
}
.select2-container--default.select2-container--open .select2-selection .select2-selection--single .select2-selection__rendered {
	padding-right: 29px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	list-style: none;
	border-radius: 2px;
	margin: 4px 4px 0 0;
	background: #eaeaea;
	padding: 3px 5px;
	border: 0;
	box-shadow: none;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

html:not(.ie9) .select:before {
	background-color: rgba(0, 0, 0, 0);
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 350px;
}
.select2-active:not(.select2-container--open) .select2-selection {
	background: #fff url("select2-spinner.gif") no-repeat 50% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding-right: 39px;
}
.select2-container .select2-selection--single {
	height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 33px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
	right: 21px;
	position: absolute;
}
.select2-container--default .select2-search--inline .select2-search__field::placeholder {
	color: #000;
}
