@inherits Crm.Library.Modularization.CrmViewUserControl

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-license" data-bind="with: tabs()['tab-license']">
	<!-- ko with: license -->
	<div class="row m-20">
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-4 f-700 p-5">
					<span data-bind="translatedText: 'ContractNo'"></span>
				</div>
				<div class="col-xs-8 p-5">
					<span data-bind="text: ContractNo"></span>
				</div>
				<div class="col-xs-4 f-700 p-5">
					<span data-bind="translatedText: 'ProjectId'"></span>
				</div>
				<div class="col-xs-8 p-5">
					<span data-bind="text: ProjectId"></span>
				</div>
				<div class="col-xs-4 f-700 p-5">
					<span data-bind="translatedText: 'InstallationType'"></span>
				</div>
				<div class="col-xs-8 p-5">
					<span data-bind="text: InstallationType"></span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-4 f-700 p-5">
					<span data-bind="translatedText: 'TrialLicense'"></span>
				</div>
				<div class="col-xs-8 p-5">
					<span data-bind="translatedText: IsTrialLicense ? 'Yes' : 'No'"></span>
				</div>
				<div class="col-xs-4 f-700 p-5">
					<span data-bind="translatedText: 'ExpiresAt'"></span>
				</div>
				<div class="col-xs-8 p-5">
					<span data-bind="dateText: Expires"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 p-5">
			<div class="f-700" data-bind="translatedText: 'InstallationLocation'"></div>
			<div data-bind="text: InstallationLocation"></div>
		</div>
	</div>
	<!-- ko ifnot: IsTrialLicense -->
	<table class="table i-table m-t-25 m-b-25">
		<thead class="text-uppercase">
		<tr>
			<th class="c-gray" data-bind="translatedText: 'ModuleId'"></th>
			<th class="c-gray" data-bind="translatedText: 'Description'"></th>
			<th class="c-gray" data-bind="translatedText: 'Count'"></th>
		</tr>
		</thead>
		<tbody data-bind="foreach: { data: $parent.sortedModuleIds, as: '$moduleId' }">
		<tr>
			<td>
				<span data-bind="text: $moduleId"></span>
			</td>
			<td style="width: 50%">
				<!-- ko if: $parentContext.$parent.getParentModuleId($moduleId) -->
				<i class="zmdi zmdi-long-arrow-right p-l-10 p-r-5"></i>&nbsp;
				<!-- /ko -->
				<span data-bind="lookupValue: $moduleId, lookups: $parentContext.$parent.lookups.licenseModules"></span>
			</td>
			<td data-bind="css: $parentContext.$parent.getColor($moduleId)">
				<span data-bind="text: $parentContext.$parent.getUsedModuleCount($moduleId)"></span>/<span data-bind="text: $parent.Modules[$moduleId]"></span>
			</td>
		</tr>
		</tbody>
	</table>
	<!-- /ko -->
	<!-- /ko -->
</div>