@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-license" aria-controls="tab-license" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("License"))
	</a>
</li>