@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a
		class="col-xs-4"
		href="#tab-menu-entries"
		aria-controls="tab-menu-entries"
		role="tab"
		data-toggle="tab"
		aria-expanded="false">
		@(Html.Localize("MenuConfiguration"))
	</a>
</li>