@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<ul class="top-menu">
	@Html.PluginRenderActions("SchedulerDetailsTopMenu")
</ul>

<div class="container scheduler-container">
	<scheduler id="scheduler-component" params="parentViewModel: $data, inlineData: inlineData, modelForParent: schedulerComponent, locale: currentUserLocale" style="width: 100%;display: flex;"></scheduler>

	<span class="autosavewarning" data-bind ="visible: !autosave() && pendingChanges()">
		<span class="badge bgm-amber"><i class="zmdi zmdi-alert-triangle"></i></span>
		@(Html.Localize("AutosaveOffWarning"))
	</span>
	@Html.RenderAction("MaterialMapItemTemplate", "ServiceOrderHeadList", new { Plugin = "Crm.Service" })
</div>

<div id="rightOverlayDiv"></div>
<div id="leftOverlayDiv"></div>