@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-persons" data-bind="with: tabs()['tab-persons']">
	<!-- ko requiredPermission: { name: 'Create', group: 'Person' } -->
	<div class="content-header placeholder">
		<div class="lv-header-alt generic-list-header main-section listview">
			<div class="card-header d-flex flex-auto">
				<div class="caption d-flex flex-auto">
					<h2>&nbsp;</h2>
				</div>
			</div>
		</div>
		<floating-action-button params="href: '#/Crm/Person/CreateTemplate?parentId=' + $root.serviceObject().Id() + '&parentType=ServiceObject&redirectUrl=/Crm.Service/ServiceObject/DetailsTemplate/' + $root.serviceObject().Id() + '%3Ftab%3Dtab-persons', icon: 'account-add', title: 'CreatePerson', position: 'top', showWhenDropdownIsToggled: true"></floating-action-button>
	</div>
	<!-- /ko -->
	<empty-state-box params="mood: 'sad', title: 'PersonsEmptyStateTitle', text: 'PersonsEmptyState'" data-bind="visible: items().length === 0">
	</empty-state-box>
	@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
	<div class="generic-list listview lv-bordered">
		<div class="lv-body" data-bind="foreach: items">
			 @await Html.PartialAsync("../PersonList/MaterialItemTemplate") 
		</div>
	</div>
	 @await Html.PartialAsync("MaterialPaging") 
</div>