.barcode-format-container {
	display: flex;
	flex-direction: column;
	border: 2px solid slategray;
	border-radius: 6px;
	overflow: hidden;
	color: black;
	cursor: pointer;
}

.barcode-format-icon {
	background-color: #e3f3ff;
	transition: background-color 100ms;
	padding: 16px;
}

.barcode-format-icon:hover {
	background-color: #2196F3;
}

.barcode-format-icon-active {
	background-color: #2196F3;
}

.barcode-format-title {
	padding: 8px;
	text-align: center;
}

.wrap-barcode-options {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 1200px) {
	.wrap-barcode-options {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(8, 1fr);
	}

	.wrap-barcode-options > div:nth-child(1) {
		grid-column: 1 / span 2;
	}

	.wrap-barcode-options > div:nth-child(2) {
		grid-column: 3 / span 3;
	}

	.wrap-barcode-options > div:nth-child(3) {
		grid-column: 6 / span 3;
	}
}
