@main-application-color:             #F2F5FB;
@main-application-text-color:        #333333;
@main-application-link-color:        #0047B3;

@body-background:                    #E5E5E5;
@header-background:                  #FFFFFF;
@header-text-color:                  @main-application-text-color;
@link-color:                         #333333;
@default-link-color:				 #0047B3;

@editor-wrapper-background:			 mix(@header-background, #fff, 20%);
@editor-wrapper-text-color:          #000;
@editor-wrapper-link-color:          mix(@header-background, #000, 35%);
@editor-wrapper-border-color:        mix(@header-background, #fff, 55%);
@editor-wrapper-inner-border-color:  #FFF;

@navigation-background:              #697382;
//workaround, probably name collision
@nav-background:                     #697382;
@navigation-text-color:              #FFFFFF;
@navigation-selected-background:     @body-background;
@navigation-selected-text-color:     #000000;
@navigation-recent-background:       #BBBBBB;
@navigation-recent-text-color:       #ffffff;
@navigation-hover-background:        #555555;
@navigation-hover-text-color:        #FFFFFF;

@sidebar-link-hover-color:           #FF9F33;
@list-entry-hover-background:				 #dddddd;

@form-submit-button-color:					 #d4d0c8;
@form-submit-button-color-hover:		 #bfbfbf;

@tab-day-selector-other-month:			 lighten(@nav-background, 3%);
@tab-day-has-entries-marker:				 lighten(@header-background, -10%);
@tab-day-warning-marker:						 #ff0000;

/***ThemeColors***/

@editor-wrapper-background:			 mix(@header-background, #fff, 20%);
@editor-wrapper-text-color:          #000;
@editor-wrapper-link-color:          mix(@header-background, #000, 35%);
@editor-wrapper-border-color:        mix(@header-background, #fff, 55%);
@editor-wrapper-inner-border-color:  #FFF;

@link-highlight-color:               @link-color * 2;
@default-font:                       "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
@default-font-size:                  0.7em;
@default-line-height:                145%;
@min-page-width:                     960px;
@content-area-width:                 92%;
@main-column-width:                  64%;
@sidebar-gap:                        2%;
@content-area-padding:               (100 - @content-area-width) / 2;
@sidebar-width:                      100 - @main-column-width - @sidebar-gap;

@rating-hover-background-color:			 @navigation-hover-background;		
@rating-hover-border-color:					 @navigation-background;		
@rating-active-background-color:		 @navigation-background;


/***ThemeStructure***/

/*** Bootstrap ***/
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------
// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@baseFontSize:          13px;
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        18px;
@altFontFamily:         Georgia, "Times New Roman", Times, serif;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         darken(@white, 20%);

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 15%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              @gray;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputDisabledBackground:       @grayLighter;


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkBackgroundHover:   @linkColor;

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a birds eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;

// Hr border color
// -------------------------
@hrBorder:                @grayLighter;

// Navbar
// -------------------------
@navbarHeight:                    40px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDark;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @navbarBackground;

@navbarSearchBackground:          lighten(@navbarBackground, 25%);
@navbarSearchBackgroundFocus:     @white;
@navbarSearchBorder:              darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor:    #ccc;

// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;

// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);

// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
// -------------------------
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;
