@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<!-- ko with: genericLinkedInstallations -->
<!-- ko if: items().length -->
<div class="card generic-list">
	<div class="card-header ch-alt">
		<h2>@(Html.Localize("InstallationRelationships"))</h2>
	</div>
	@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
	<div id="generic-list-installation-relationships" class="generic-list listview lv-bordered">
		<div class="lv-body" data-bind="foreach: items">
			@await Html.PartialAsync("MaterialInstallation")
		</div>
	</div>
	@await Html.PartialAsync("MaterialPaging")
</div>
<!-- /ko -->
<!-- /ko -->
