@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions

<div class="lv-item media">
	<div class="lv-avatar pull-left" data-bind="css: $root.getAvatarColor(Action()), text: Helper.String.getTranslatedString(Action())[0]"></div>
	<div class="media-body panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<div class="lv-title">
					<span data-bind="text: EntityType"></span>
				</div>
				<p data-bind="text: Description"></p>
				<ul class="lv-attrs">
					<li>
						<span data-bind="translatedText: Action"></span>
					</li>
					<li>
						<i class="zmdi zmdi-calendar"></i>
						<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'short'} }"></span>
					</li>
					@Html.PluginRenderActions("FlowRuleItemTemplateAttributes")
				</ul>
			</div>
			<lv-actions>@Html.PluginRenderActions("FlowRuleItemTemplateActions")</lv-actions>
		</div>
	</div>
</div>