@inherits Crm.Library.Modularization.CrmViewUserControl

<floating-action-button>
	<li>
		<a href="#" data-route="Main.Flow/FlowRule/EditTemplate" data-toggle="modal" data-target="#modal">
			<i class="zmdi zmdi-plus"></i>
		</a>
	</li>
</floating-action-button>