@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.ViewModels
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane" id="tab-articles" data-bind="with: tabs()['tab-articles']">
	<div class="content-header placeholder">
		<div class="lv-header-alt generic-list-header main-section listview">
			<div class="card-header d-flex flex-auto">
				<div class="caption d-flex flex-auto">
					<h2>&nbsp;</h2>
				</div>
			</div>
		</div>
		<floating-action-button data-route="Crm.Service.Team/ArticleUserGroupRelationship/EditTemplate" data-toggle="modal" data-target="#modal" params="title: 'Assign'"></floating-action-button>
	</div>
	<empty-state-box params="mood: 'sad', title: 'AssignedArticles', text: 'NoAssignedArticles'" data-bind="visible: items().length === 0">
	</empty-state-box>
	<div class="generic-list listview lv-bordered">
		<div class="lv-body">
			<div data-bind="foreach: items">
				@await Html.PartialAsync("GenericListItemGroup")
				@await Html.PartialAsync("MaterialArticleUserGroup")
			</div>
		</div>
	</div>
	@await Html.PartialAsync("MaterialPaging")
</div>
