<li role="presentation" data-bind="visible: $root.userGroup().ExtensionValues().IsServiceTeam()">
	<a class="col-xs-4" href="#tab-articles" aria-controls="tab-articles" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'VehiclesAndTools'"></a>
</li>