<li role="presentation" data-bind="visible: $root.userGroup().ExtensionValues().IsServiceTeam()">
	<a class="col-xs-4" href="#tab-dispatches" aria-controls="tab-dispatches" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'Dispatches'"></a>
</li>