@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="tooltip: true" data-placement="bottom" class="keep-in-place">
	<a id="open-generic-list-filter" data-trigger="#right-nav" href="#" data-route="@("Main/BackgroundService/FilterTemplate")">
		<i class="tm-icon zmdi zmdi-filter-list"></i>
		<div class="small">@(Html.Localize("Filter"))</div>
	</a>
</li>