@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
<!-- ko if: ExtensionValues().IsServiceTeam -->
<li data-bind="visible: ExtensionValues().ValidFrom">
	@(Html.Localize("ValidFrom"))
	<span data-bind="dateText: ExtensionValues().ValidFrom, css: { 'c-red': ExtensionValues().ValidFrom() > new Date() }"></span>
</li>
<li data-bind="visible: ExtensionValues().ValidTo">
	@(Html.Localize("ValidTo"))
	<span data-bind="dateText: ExtensionValues().ValidTo, css: { 'c-red': ExtensionValues().ValidTo() < new Date() }"></span>
</li>
<!-- /ko -->