@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li id="top-search" class="prevent-overflow" data-bind="visible: entities().length > 0, tooltip: { title: '@(Html.Localize("Search"))' }" style="display: none;">
	<a href="#">
		<i class="tm-icon zmdi zmdi-search"></i>
		<div class="small">@(Html.Localize("Search"))</div>
	</a>
</li>