@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="modal animated fadeIn" id="topSearchModal" data-backdrop="static" tabindex="-1" role="dialog" data-bind="if: render">
	<div class="modal-dialog modal-lg card">
		<div class="modal-content">
			<div class="modal-header card-header ch-alt p-b-15" data-bind="mProgress: loading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">@(Html.Localize("Search"))</h4>
				<div class="form-group m-t-15 m-b-0">
					<div class="input-group">
						<div class="fg-line p-t-10">
							<input class="form-control" type="search" data-bind="textInput: input, event: { keypress: onKeypress }"/>
						</div>
						<span class="input-group-addon">
							<a class="btn btn-default btn-icon waves-effect waves-circle waves-float" href="#" data-bind="click: () => search()">
								<i class="zmdi zmdi-search"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-body card-body card-padding">
				<!-- ko foreach: entities().filter(e => e.viewModel.totalItemCount() > 0) -->
				<collapsible-block params="id: caption">
					<collapsible-block-header params="context: $parent">
						<span data-bind="translatedText: caption"></span>
						<!-- ko if: viewModel.totalItemCount() > 0 -->
						<span data-bind="text: '&nbsp;(' + viewModel.totalItemCount() + ')'"></span>
						<!-- /ko -->
					</collapsible-block-header>
					<collapsible-block-content>
						<!-- ko let: { $root: $parentContext.$parentContext.$parent.viewModel } -->
						<!-- ko with: $root -->
						<div class="listview lv-bordered">
							<div class="text-center" data-bind="visible: loading">
								<div class="preloader pl-lg">
									<svg class="pl-circular" viewBox="25 25 50 50">
										<circle class="plc-path" cx="50" cy="50" r="20"></circle>
									</svg>
								</div>
							</div>
							<!-- ko ifnot: loading -->
							<div data-bind="template: { name: $parentContext.$parentContext.$parentContext.$parent.template, foreach: items }"></div>
							<!-- ko if: items().length === 0 -->
							<div class="lv-item">
								<span class="lv-small">@(Html.Localize("NoRecordsForSearchCriteria"))</span>
							</div>
							<!-- /ko -->
							<!-- /ko -->
						</div>
						@await Html.PartialAsync("MaterialPaging")
						<!-- /ko -->
						<!-- /ko -->
					</collapsible-block-content>
				</collapsible-block>
				<!-- /ko -->
				<!-- ko if: entities().filter(e => e.viewModel.totalItemCount() > 0).length === 0 -->
				<div class="lv-item">
					<span class="lv-small">@(Html.Localize("NoRecordsForSearchCriteria"))</span>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>

@Html.PluginRenderActions("TopSearchMaterialItemTemplate")