@using Crm.Library.Globalization.Extensions

<!-- ko ifnot: window.Main.Settings.UseOpenIdAuthentication -->
<!-- ko if: (!window.Helper.Offline || window.Helper.Offline.status === "online") -->
<pmbb-view-entry params="caption: 'TotpAuthentication'">
	<div>
		<!-- ko ifnot: $root.totpIsSetUp -->
		<button type="button" id="totp-setup" class="btn btn-xs f-13 waves-effect p-t-0 p-b-0"
			data-toggle="modal" data-target="#modal" data-route="Main/Account/SetUpTotpAuthenticator"
			data-bind="translatedText: 'SetUpAuthenticator'">
		</button>
		<!-- /ko -->
		<!-- ko if: $root.totpIsSetUp -->
		<button type="button" id="totp-remove" class="btn btn-xs btn-danger f-13 waves-effect p-t-0 p-b-0" data-bind="click: $root.removeTotpAuthenticator, translatedText: 'RemoveAuthenticator'">
		</button>
		<!-- /ko -->
	</div>
</pmbb-view-entry>
<!-- /ko -->
<!-- /ko -->