<canvas
	style="max-width: 100%;"
	data-bind="css: {
					'show-on-print': $data.printOnly?.()
				},
				visible: !$data.isInvalid()"
	id="barcode">
</canvas>
<!-- ko if: $data.isInvalid() -->
<div class="alert alert-danger"
     data-bind="translatedText: 'BarcodeFailedRender'">
</div>
<!-- /ko -->