@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="panel-body p-0">
	<div class="pmo-pic container w-100 p-0 m-t-0 m-l-0 m-r-0 m-b-20">
		<!-- ko with: viewContext -->
		<!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
		<!-- /ko -->
	</div>
</div>