@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="collapsible-block">
	<div class="panel panel-collapse pm-body clearfix m-b-0">
		<!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
	</div>
</div>