@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="card rating-list">
	<div class="card-header ch-alt">
		<h2>
			<span data-bind="text: caption"></span>
		</h2>
	</div>
	<div class="list-group p-t-20">
		<div class="lg-body">
			<!-- ko foreach: Object.getOwnPropertyNames(data()) -->
			<div class="lv-item">
				<div class="list-group-item media b-0">
					<div class="pull-left" style="width: 100px">
						<!-- ko if: $parent.getUrl($data) -->
						<a data-bind="text: $data, attr: { href: $parent.getUrl($data) }"></a>
						<!-- /ko -->
						<!-- ko ifnot: $parent.getUrl($data) -->
						<span data-bind="text: $data"></span>
						<!-- /ko -->
					</div>

					<div class="pull-right" style="width: 40px" data-bind="text: $parent.getValue($data)"></div>

					<div class="media-body">
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-bind="style: {width: $parent.getProgressBarWidth($data) + '%', background-color: $parent.getColor($data)}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>