@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<span class="input-group-addon">
	<!-- ko let: { $root: $data } --> 
	<a class="btn btn-default btn-icon waves-effect waves-circle waves-float" href="#" data-route="{{plugin}}/{{controller}}/Selection" data-toggle="modal" data-target="#lgModal" data-bind="tooltip: true, css: { 'disabled': disable }" title="@(Html.Localize("Filter"))">
		<i class="zmdi zmdi-search-in-page"></i>
	</a>
	<!-- /ko -->
</span>
