@inherits Crm.Library.Modularization.CrmViewUserControl

<div id="top-search-wrap">
	<div>
		<div class="tsw-inner">
			<i id="top-search-search" class="zmdi zmdi-search" data-bind="click: () => search()"></i>
			<input id="top-search-input" type="text" data-bind="textInput: input, event: { keypress: onKeypress }">
			<i id="top-search-close" class="zmdi zmdi-close" data-bind="click: () => input('')"></i>
		</div>
	</div>
</div>