<!-- ko if: database.CrmService_ServiceContractStatus && $data.innerInstance instanceof database.CrmService_ServiceContractStatus.CrmService_ServiceContractStatus -->
<div>
	<small class="f-500" data-bind="text: window.Helper.String.getTranslatedString('SettableStatuses') + ': '"></small>
	<small data-bind="text: SettableStatuses() || Helper.String.getTranslatedString('Unspecified')"></small>
</div>
<!-- /ko -->