@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="row">
		<div data-bind="css: { 'col-md-8': $root.installationServiceCasesEnabled, 'col-md-12': !$root.installationServiceCasesEnabled }">
			<div class="card">
				<!-- ko if: !window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsCreateable && !window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsGenerated -->
				<div class="alert alert-warning" data-bind="text: window.Helper.String.getTranslatedString('InconsistentNumberCreationSettingWarning').replace('{0}', window.Helper.String.getTranslatedString('ServiceCaseNo'))"></div>
				<!-- /ko -->
				<form role="form" data-bind="with: serviceCase" class="root-form">
					@Html.PluginRenderActions("ServiceCaseCreateForm")
				</form>
				@await Html.PartialAsync("CreateFormFooter")
			</div>
		</div>
		<!-- ko if: $root.installationServiceCasesEnabled -->
		<div class="col-md-4">
			<div id="related" class="card">
				<div class="card-header ch-alt">
					<h2 data-bind="translatedText: 'RelatedServiceCases'"></h2>
				</div>
				<div class="generic-list listview lv-bordered">
					<div class="lv-body" data-bind="foreach: $root.items()">
						@{
							await Html.RenderPartialAsync("../ServiceCaseList/MaterialItemTemplate");
						}
					</div>
					<div class="lv-body">
						<empty-state-box class="mx-auto" params="mood: 'happy', text: 'InstallationServiceCasesEmptyState'" data-bind="visible: $root.affectedInstallation() && $root.items().length == 0 && !$root.loadingRelatedServiceCases()">
						</empty-state-box>
						<empty-state-box class="mx-auto" params="mood: 'excited', text: 'SelectInstallation'" data-bind="visible: !$root.affectedInstallation() && !$root.loadingRelatedServiceCases()">
						</empty-state-box>
						<div class="d-flex">
							<div class="preloader pl-lg" data-bind="visible: $root.loadingRelatedServiceCases()">
								<svg class="pl-circular" viewBox="25 25 50 50">
									<circle class="plc-path" cx="50" cy="50" r="20"></circle>
								</svg>
							</div>
						</div>
					</div>
				</div>
				<!-- ko if: canShowMoreRelatedServiceCases() && $root.items().length > 0 -->
				<a class="lv-footer" href="#" data-bind="click: showMoreRelatedServiceCases, translatedText: 'more'"></a>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>