@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<collapsible-block params="id: 'main-data'" class="morph">
	<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
		<span>@(Html.Localize("MainData"))</span>
	</collapsible-block-header>
	<collapsible-block-content params="context: { serviceCase: $root.serviceCase }">
		<!-- ko with: serviceCase -->
		@Html.PluginRenderActions("ServiceCaseCreateFormMainDataTop")
		<div class="flex-input-row">
			<!-- ko if: window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
			<div>
				<form-element params="value: ServiceCaseNo, caption: 'ServiceCaseNo', type: 'text', maxLength: 20"></form-element>
			</div>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'Index', group: 'ServiceCaseTemplate' } -->
			<div>
				<form-element id="ServiceCaseTemplateId" params="value: ServiceCaseTemplateId, caption: 'ServiceCaseTemplate', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'CrmService_ServiceCaseTemplate', mapDisplayObject: Helper.ServiceCaseTemplate.mapForSelect2Display, customFilter: $root.getServiceCaseTemplateAutocompleteFilter.bind($root), onSelect: $root.serviceCaseTemplate, placeholder: placeholder } }">
					</select>
				</form-element>
			</div>
			<!-- /ko -->
		</div>
		<div class="flex-input-row">
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<div>
				<form-element id="ServiceObjectId" params="value: ServiceObjectId, caption: 'ServiceObject', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['ObjectNo', 'Name'], table: 'CrmService_ServiceObject', mapDisplayObject: Helper.ServiceObject.mapForSelect2Display, placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'ServiceObjectList', plugin: 'Crm.Service', caption: caption } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<!-- /ko -->
		</div>
		<div class="flex-input-row">
			<div>
				<form-element id="AffectedCompanyKey" params="value: AffectedCompanyKey, caption: 'AffectedCompany', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getSelect2Filter.bind($data), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'CompanyList', plugin: 'Crm', caption: caption, customFilter:  Helper.Company.getSelect2Filter.bind($data) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<div>
				<form-element id="ContactPersonId" params="value: ContactPersonId, caption: 'ContactPerson', type: 'select2', disable: !AffectedCompanyKey()">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', customFilter: (query, term) => $root.contactPersonFilter(query, term), mapDisplayObject: Helper.Person.mapForSelect2Display, onSelect: $root.contactPerson, placeholder: placeholder } }, disable: disable">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'PersonList', plugin: 'Crm', caption: caption, disable: disable, customFilter: (query) => $root.contactPersonFilter(query), onSelect: $root.contactPerson } } -->
						<!-- /ko -->
					</div>
				</form-element>
				<!-- ko requiredPermission: { name: 'Create', group: 'Person' } -->
				<div class="m-b-15" style="margin-top: -20px">
					<a href="#" data-toggle="modal" data-target="#modal" data-bind="visible: AffectedCompanyKey()" data-route="Crm.Service/ServiceCase/AddContact">
						<span>@(Html.Localize("CreatePerson"))</span>
					</a>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<div class="flex-input-row">
			<div>
				<form-element id="AffectedInstallationKey" params="value: AffectedInstallationKey, caption: 'AffectedInstallation', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['InstallationNo', 'Description'], table: 'CrmService_Installation', customFilter: $root.installationFilter.bind($root), mapDisplayObject: Helper.Installation.mapForSelect2Display, onSelect: $root.onSelectAffectedInstallation.bind($root), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'InstallationList', plugin: 'Crm.Service', caption: caption, customFilter: $root.installationFilter.bind($root), onSelect: $root.onSelectAffectedInstallation.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
				<!-- ko if: $root.items().length > 0 -->
				<a class="m-b-15 visible-xs" href="#related" data-bind="translatedText: 'SeeRelatedServiceCases'"></a>
				<!-- /ko -->
			</div>
			<!-- ko with: $root.affectedInstallation -->
			<div>
				<form-element id="AffectedInstallationStatusKey" params="value: StatusKey, caption: 'InstallationStatus', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_InstallationHeadStatus'), placeholder: placeholder }">
					</select>
				</form-element>
			</div>
			<!-- /ko -->
		</div>
		@Html.PluginRenderActions("ServiceCaseCreateFormMainDataBottom")
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>
<div class="top-separator"></div>