@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block id="basic-information-pmb" params="icon: 'equalizer', caption: 'BasicInformation', context: { serviceCase: serviceCase }, condition: isEditable(), onAfterSave: $root.onAfterSaveGeneralInfo.bind($root), onSave: (pmbbViewModel) => $root.handleOnSave?.(pmbbViewModel)">
		<pmbb-view>
			<!-- ko with: serviceCase -->
			<!-- ko ifnot: window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsEditable == false && window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsGenerated == false && window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsCreateable == false && ServiceCaseNo() == null -->
			<pmbb-view-entry params="caption: 'ServiceCaseNo'">
				<span data-bind="text: ServiceCaseNo"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ServiceCaseNo"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'ErrorMessage'">
				<div class="text-justify" data-bind="text: { value: ErrorMessage, expand: true }"></div>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ErrorMessage"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'CreateUser'">
				<span data-bind="userDisplayName: { UserName: ServiceCaseCreateUser, Users: $root.users }"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'CreateDate'">
				<span data-bind="dateText: ServiceCaseCreateDate"></span>
			</pmbb-view-entry>
			<!-- ko if: CompletionDate -->
			<pmbb-view-entry params="caption: 'CompletionDate'">
				<span data-bind="dateText: CompletionDate"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'CompletionUser'">
				<!-- ko if: CompletionUserUser -->
				<span data-bind="text: Helper.User.getDisplayName(CompletionUserUser)"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: CompletionUserUser"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'CompletionServiceOrder'">
				<!-- ko with: CompletionServiceOrder -->
				<a href="#" data-bind="attr: { href: '#/Crm.Service/ServiceOrder/DetailsTemplate/' + Id() }">
					<span data-bind="text: Helper.ServiceOrder.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: CompletionServiceOrder"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'Station'">
				<!-- ko with: Station -->
					<span data-bind="text: Name"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Station"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'OriginatingServiceOrder'">
				<!-- ko with: OriginatingServiceOrder -->
				<a href="#" data-bind="attr: { href: '#/Crm.Service/ServiceOrder/DetailsTemplate/' + Id() }">
					<span data-bind="text: OrderNo"></span>
				</a>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: OriginatingServiceOrder"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'OriginatingServiceOrderTime'">
				<!-- ko with: OriginatingServiceOrderTime -->
				<a href="#" data-bind="attr: { href: '#/Crm.Service/ServiceOrder/DetailsTemplate/' + OrderId() }">
					<span data-bind="text: Helper.ServiceOrderTime.getAutocompleteDisplay($data)"></span>
				</a>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: OriginatingServiceOrderTime"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'LastActivity'">
				<span data-bind="dateText: LastActivity"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: LastActivity"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Skills'">
                <!-- ko if: RequiredSkillKeys().length > 0 -->
                <span data-bind="text: $root.getSkillsFromKeys(RequiredSkillKeys()).map(function(x){ return x.text; }).join(', ')"></span>
                <!-- /ko -->
                <span class="c-gray" data-bind="translatedText: 'Unspecified', if: RequiredSkillKeys().length === 0"></span>
            </pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Assets'">
				<!-- ko if: RequiredAssetKeys().length > 0 -->
				<span data-bind="text: $root.getAssetsFromKeys(RequiredAssetKeys()).map(function(x){ return x.text; }).join(', ')"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', if: RequiredAssetKeys().length === 0"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceCaseDetailsBasicInformationView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceCase -->
			<!-- ko ifnot: (window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsEditable == false && window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsGenerated == false && window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsCreateable == false && ServiceCaseNo() == null) || (window.Helper.Offline !== undefined ? window.Helper.Offline.status=='offline' : false) -->
			<pmbb-edit-entry params="caption: 'ServiceCaseNo', validationElement: ServiceCaseNo">
				<input type="text" id="ServiceCaseNo" class="form-control" data-bind="value: ServiceCaseNo, disable: window.Crm.Service.Settings.ServiceCase.ServiceCaseNoIsEditable == false">
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'ErrorMessage', validationElement: ErrorMessage">
				<input type="text" id="ErrorMessage" class="form-control" data-bind="value: ErrorMessage" />
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Station', validationElement: StationKey">
				<select class="form-control" data-bind="select2autocompleter: { data: StationKey, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Station', customFilter: Helper.Station.getSelect2Filter.bind($data), mapDisplayObject: Helper.Station.mapForSelect2Display, onSelect: Helper.Station.onSelect.bind($parent,$data), placeholder: $parent.placeholder } }">
			</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'OriginatingServiceOrder', validationElement: OriginatingServiceOrderId">
				<select class="form-control" data-bind="select2autocompleter: { data: OriginatingServiceOrderId, autocompleteOptions: { orderBy: ['OrderNo', 'ErrorMessage'], table: 'CrmService_ServiceOrderHead', customFilter: $root.serviceOrderFilter.bind($root), mapDisplayObject: Helper.ServiceOrder.mapForSelect2Display, onSelect: $root.onSelectOriginatingServiceOrder.bind($parentContext.$parentContext.$parentContext.$parent.editContext()), placeholder: $parent.placeholder } }"></select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'OriginatingServiceOrderTime', validationElement: OriginatingServiceOrderTimeId">
				<select class="form-control" data-bind="select2autocompleter: { data: OriginatingServiceOrderTimeId, autocompleteOptions: { orderBy: ['PosNo'], table: 'CrmService_ServiceOrderTime', customFilter: $root.serviceOrderTimeFilter.bind($parentContext.$parentContext.$parentContext.$parent.editContext()), mapDisplayObject: Helper.ServiceOrderTime.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { OriginatingServiceOrderTime(value ? value.asKoObservable() : null); } } }, disable: !$data.OriginatingServiceOrderId()"></select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Skills'">
				<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: RequiredSkillKeys, autocompleteOptions: { table: 'Main_Skill', customFilter: Helper.Lookup.queryLookup, mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Assets'">
				<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: RequiredAssetKeys, autocompleteOptions: { table: 'Main_Asset', customFilter: Helper.Lookup.queryLookup, mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceCaseDetailsBasicInformationEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	@Html.PluginRenderActions("ServiceCaseDetailsTabExtensions")
	@Html.PluginRenderActions("ContactMaterialDetailsTabExtensions")
</div>
