@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko requiredPermission: { name: 'Create', group: 'DocumentArchive' } -->
<li data-bind="with: $parent">
	<a href="#" data-mfb-label="@(Html.Localize("AddDocument"))" data-route="Crm.Service/ServiceCase/DocumentAttributeEditTemplate/?contactId={{$root.serviceCase().Id}}&contactName={{Helper.ServiceCase.getDisplayName($root.serviceCase())}}&contactType=ServiceCase" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-plus"></i>
	</a>
</li>
<!-- /ko -->
