@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-installation" data-bind="with: tabs()['tab-installation']">
	<empty-state-box params="mood: 'sad', title: 'NoInstallation', text: 'NoServiceCaseInstallationInfo'" data-bind="visible: !installation()">
	</empty-state-box>
	<!-- ko with: installation() -->
	<pmb-block params="context: { installation: $data }, showHeader: false, showActions: false, css: 'm-0 p-0'">
		@await Html.PartialAsync("../ServiceCase/InstallationTemplate")
	</pmb-block>
<!-- /ko -->
</div>