@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="card">
		<form role="form" class="root-form">
			@Html.PluginRenderActions("ServiceOrderTemplateCreateForm")
		</form>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>