@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.status === 'closed' -->
<div class="filter-element form-group" id="followupserviceorder-filter">
	<div class="fg-line select">
		<p class="m-b-5">@(Html.Localize("FollowUpServiceOrder"))</p>
		<select name="FollowUpServiceOrder" data-bind="value:ko.pureComputed({read:function(){var value=ko.unwrap(this.getFilter('FollowUpServiceOrder'));return value!==null&&value!==undefined&&value.Operator?value.Value:value;},write:function(newValue){this.getFilter('FollowUpServiceOrder').extend({filterOperator:{operator:'==',additionalProperties:{caption:'FollowUpServiceOrder',displayedValue:Helper.String.getTranslatedString($root.booleanOptions.filter(function(option){return option.Value===newValue;})[0].Text)}}})(newValue);}},$data),options:booleanOptions,optionsValue:'Value',optionsText:function(x){return Helper.String.getTranslatedString(x.Text);}" class="form-control"></select>
	</div>
</div>
<!-- /ko -->
