@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: StatusKey() === 'ClosedNotComplete' && $root.serviceOrder && $root.serviceOrder().StatusKey() === 'PartiallyCompleted' -->
<li>
	<a href="#" id="template-schedulefollowupdispatch" data-route="Crm.Service/Dispatch/Schedule/@(Guid.Empty)?serviceOrderId={{OrderId}}" data-toggle="modal" data-target="#lgModal">
		@(Html.Localize("ScheduleFollowUpDispatch"))
	</a>
</li>
<!-- /ko -->
