@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
</tr>
<!-- ko if: window.database.CrmService_ServiceOrderExpensePosting -->
<!-- ko if: $data.innerInstance instanceof database.CrmService_ServiceOrderExpensePosting.CrmService_ServiceOrderExpensePosting -->
<!-- ko if: $root.isFirstServiceOrderEntry($data,$parent.Entries,$index()) == true -->
<tr>
	<td></td>
	<td colspan="4">
		<!-- ko with: $data.ServiceOrder -->
		<div>
			<strong>
				@(Html.Localize("ServiceOrder")):
				<span data-bind="text: OrderNo"></span>, <span data-bind="lookupValue: TypeKey, lookups: $root.lookups.serviceOrderTypes"></span>
			</strong>
		</div>
		<!-- ko with: $data.Company -->
		<div>
			<small data-bind="text: Name"></small>
		</div>
		<!-- /ko -->
		<div>
			<small data-bind="text: Street"></small>
		</div>
		<div>
			<small>
				<span data-bind="text: ZipCode"></span>
				<span data-bind="text: City"></span>
			</small>
		</div>
		<!-- ko with: $data.Installation -->
		<small>
			<strong>
				@(Html.Localize("Installation"))
			</strong>
			<br />
			<span data-bind=" text:LegacyInstallationId !== null  ? LegacyInstallationId : InstallationNo"></span>
			, <span data-bind="text: Description"></span>
		</small>
		<!-- /ko -->
		<!-- /ko -->
		<div>
			<small class="text-muted" data-bind="text: Description"></small>
		</div>
	</td>
</tr>
<!-- /ko -->
<!-- ko if: $root.isSameOrderAsPrevious($data,$parent.Entries,$index()) == true -->
<tr>
	<td style="border-top: none"></td>
	<td style="border-top: none">
		<div>
			<!-- ko if: $data.ItemNo -->
			<span data-bind="text: ItemNo"></span>
			<!-- ko with: $data.Article -->
			<span data-bind="text: Description"></span>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: $data.ExpenseTypeKey-->
			<span data-bind="lookupValue: ExpenseTypeKey, lookups: $root.lookups.expenseTypes"></span>
			<!-- /ko -->
			<br />
			<small class="text-muted" data-bind="text: Description"></small>
		</div>
	</td>
	<td style="border-top: none">
		<!-- ko with: $data.FileResource -->
		@(Html.Localize("File")): <small class="c-gray" data-bind="text: Filename"></small>
		<!-- /ko -->
	</td>
	<td class="text-right" style="border-top: none"></td>
	<td class="text-right" style="border-top: none">
		<span data-bind="money: Amount"></span>&nbsp;<span data-bind="lookupValue: CurrencyKey, lookups: $root.lookups.currencies"></span>
	</td>
</tr>
<!-- /ko -->
<!-- ko ifnot: $root.isSameOrderAsPrevious($data,$parent.Entries,$index()) == true -->
<tr>
	<td></td>
	<td>
		<div>
			<strong data-bind="visible: $root.isFirstServiceOrderEntry($data,$parent.Entries,$index()) == false">
				<!-- ko with: $data.ServiceOrder -->
				<span data-bind="text: OrderNo"></span> 
				<!-- /ko -->
			</strong>
			<br />
			<!-- ko if: $data.ItemNo -->
			<span data-bind="text: ItemNo"></span>
			<!-- ko with: $data.Article -->
			<span data-bind="text: Description"></span>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: $data.ExpenseTypeKey-->
			<span data-bind="lookupValue: ExpenseTypeKey, lookups: $root.lookups.expenseTypes"></span>
			<!-- /ko -->
			<br />
			<small class="text-muted" data-bind="text: Description"></small>
		</div>
	</td>
	<td>
		<br />
		<!-- ko with: $data.FileResource -->
		@(Html.Localize("File")): <small class="c-gray" data-bind="text: Filename"></small>
		<!-- /ko -->
	</td>
	<td class="text-right"></td>
	<td class="text-right">
		<br />
		<span data-bind="money: Amount"></span>&nbsp;<span data-bind="lookupValue: CurrencyKey, lookups: $root.lookups.currencies"></span>
	</td>
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
<tr>