@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: window.database.CrmService_ServiceOrderExpensePosting -->
<!-- ko if: $data.innerInstance instanceof database.CrmService_ServiceOrderExpensePosting.CrmService_ServiceOrderExpensePosting -->
<!-- ko if: $data.Article() == null-->
<div class="col-xs-8 col-xs-pull-3 col-sm-pull-2 col-sm-4 p-l-0" data-bind="lookupValue: ExpenseTypeKey, lookups: $root.lookups.expenseTypes"></div>
<!-- /ko -->
<!-- ko if: $data.Article-->
<div class="col-xs-8 col-xs-pull-3 col-sm-pull-2 col-sm-4 p-l-0" data-bind="text: ItemDescription()"></div>
<!-- /ko -->
<div>
	<div class="col-xs-12 col-sm-pull-2 col-sm-5">
		<span class="f-500 visible-xs p-t-5" data-bind="if: Description"> @(Html.Localize("Description")):</span>
		<div data-bind="text: Description"></div>
		<!-- ko if: $data.ServiceOrder -->
		<small class="text-muted" data-bind="text: ServiceOrder().OrderNo"></small>
		<!-- /ko -->
		<small class="text-muted" data-bind="lookupValue: CostCenterKey, lookups: $root.lookups.costCenters, visible: CostCenterKey"></small>
		<!-- ko if: FileResource -->
		<p>
			<i class="zmdi zmdi-file"></i>
			<!-- ko ifnot: window.client.userAgent() === 'Android' && !!FileResource() && FileResource().ContentType().indexOf('image/') === -1 -->
			<a class="text-muted small" data-bind="fileResource: FileResource" target="_blank"><span data-bind="text: FileResource().Filename"></span></a>
			<!-- /ko -->
			<!-- ko if: window.client.userAgent() === 'Android' && !!FileResource() && FileResource().ContentType().indexOf('image/') === -1 -->
			<a class="text-muted small" data-bind="fileResource: FileResource, attr: { download: FileResource().Filename() }"><span data-bind="text: FileResource().Filename"></span></a>
			<!-- /ko -->
		</p>
		<!-- /ko -->
	</div>
</div>
<!-- /ko -->
<!-- /ko -->
