@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: ExtensionValues().IsServiceTeam -->
<div class="row" data-bind="with: ExtensionValues">
	<div class="col-md-6">
		<form-element id="MainResource" params="value: MainResourceId, caption: 'MainResource', type: 'select'">
			<select class="form-control" data-bind="select2autocompleter: $root.mainResourceSelect2autocompleter()"></select>
		</form-element>
	</div>
</div>
<!-- /ko -->