@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<!-- ko if: $root.userGroup -->
<!-- ko with: $root.userGroup -->
<div class="pmo-block pmo-contact">
	<h2>@(Html.Localize("Team"))</h2>
	<ul>
		<li>
			<i class="zmdi zmdi-accounts-alt"></i>
			<span>
				<!-- ko requiredPermission: { name: 'UserGroupDetail', group: 'UserAdmin' } -->
				<a href="#/Main/UserGroup/DetailsTemplate/{{Id}}">
					<span data-bind="text: Name" style="white-space: pre-line; word-break: break-word;"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'UserGroupDetail', group: 'UserAdmin' } -->
				<span data-bind="text: Name"></span>
				<!-- /ko -->
			</span>
		</li>
		<li>
			<span data-bind="text: Helper.User.getDisplayName($root.dispatch().DispatchedUser())"></span>
			|&nbsp;<span data-bind="text: window.Helper.String.getTranslatedString('Leader')"></span>
		</li>
		<!-- ko foreach: $root.teamMembers -->
		<li>
			<span data-bind="text: Helper.User.getDisplayName($data)"></span>
		</li>
		<!-- /ko -->
		<!-- ko if: $root.vehicles().length > 0 -->
		<li>
			<i class="zmdi zmdi-car"></i>
			<!-- ko foreach: $root.vehicles -->
			<a data-bind="attr: { href: '#/Crm.Article/Article/DetailsTemplate/' + Id }">
				<span data-bind="text: Helper.Article.getArticleAutocompleteDisplay($data, $root.currentUser().DefaultLanguageKey)"></span><br/>
			</a>
			<!-- /ko -->
		</li>
		<!-- /ko -->
		<!-- ko if: $root.tools().length > 0 -->
		<li>
			<i class="zmdi zmdi-wrench"></i>
			<!-- ko foreach: $root.tools -->
			<a data-bind="attr: { href: '#/Crm.Article/Article/DetailsTemplate/' + Id }">
				<span data-bind="text: Helper.Article.getArticleAutocompleteDisplay($data, $root.currentUser().DefaultLanguageKey)"></span><br/>
			</a>
			<!-- /ko -->
		</li>
		<!-- /ko -->
	</ul>
</div>
<!-- /ko -->
<!-- /ko -->