@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<!-- ko if: $root.userGroupSelector() -->
<div id="ServiceTeam" class="form-group">
	<div class="fg-line">
		<label class="fg-label control-label" data-bind="tooltip: true" data-placement="bottom" title="@(Html.Localize("ServiceTeams"))">@(Html.Localize("ServiceTeams"))</label>
		<select class="form-control" id="usergroups_selection" data-bind="select2autocompleter: { data: $root.selectedTeam, autocompleteOptions: {  customFilter: $root.userGroupFilter.bind($root), table: 'Main_Usergroup', joins: ['Members', 'Members.User'], mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, onSelect: $root.OnTeamSelected.bind($root) } }">
		</select>
	</div>
</div>
@(Html.Localize("or"))
<a href="#" data-bind="click: $root.toggleUserGroupSelector">
	@(Html.Localize("Technician"))
</a>
<!-- /ko -->
<!-- ko ifnot: $root.userGroupSelector() -->