@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="fg-line">
    <label class="fg-label control-label" for="usergroups_selection" data-bind="tooltip: true" data-placement="bottom"
           title="@(Html.Localize("ServiceTeams"))">@(Html.Localize("ServiceTeams"))</label>
    <select class="form-control" id="usergroups_selection"
          data-bind="select2autocompleter: { data: ExtensionValues()?.TeamId, autocompleteOptions: {  table: 'Main_Usergroup', customFilter: (query, term) => Helper.User.filterUsergroupQueryForServiceTeams(query, term, $parent.Date), joins: ['Members', 'Members.User'], mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, onSelect: $root.onTeamSelected.bind($root) } }, disable: $root.readonly()">
    </select>
    <button type="button" class="btn btn-xs btn-default pull-right"
            data-bind="click: $root.addResourcesToProfile, disable: $root.loading || TeamId === null">
        @(Html.Localize("AssignResourcesFromTeam"))
    </button>
</div>