@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

@(Html.Localize("or"))
<a id="toggle-user-group-selector" href="#" data-bind="click: $root.toggleUserGroupSelector">
	@(Html.Localize("ServiceTeams"))
</a>
<!-- /ko -->