@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: ExtensionValues().TeamId() -->
<!-- ko with: $data.Team -->
<li>
	<i class="zmdi zmdi-accounts-alt"></i>
	<span>
		<!-- ko requiredPermission: { name: 'UserGroupDetail', group: 'UserAdmin' } -->
		<a href="#/Main/UserGroup/DetailsTemplate/{{Id}}">
			<span data-bind="text: Name" style="white-space: pre-line; word-break: break-word;"></span>
		</a>
		<!-- /ko -->
		<!-- ko noRequiredPermission: { name: 'UserGroupDetail', group: 'UserAdmin' } -->
		<span data-bind="text: Name"></span>
		<!-- /ko -->
	</span>
</li>
<!-- ko if: $parent.Technicians.length > 0 -->
<ul class="lv-attrs">
	<!-- ko foreach: $parent.Technicians -->
	<li>
		<span data-bind="text: Helper.User.getDisplayName($data)"></span>
	</li>
	<!-- /ko -->
</ul>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
