<!-- ko if: database.CrmService_ServiceOrderDispatchRejectReason && $data.innerInstance instanceof database.CrmService_ServiceOrderDispatchRejectReason.CrmService_ServiceOrderDispatchRejectReason -->
<div>
	<small class="f-500" data-bind="text: window.Helper.String.getTranslatedString('ServiceOrderStatus') + ': '"></small>
	<small data-bind="text: ServiceOrderStatusKey() || Helper.String.getTranslatedString('Unspecified')"></small>
</div>
<!-- /ko -->