@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<!-- ko if: $parent.isVisible($data) -->
<div class="panel panel-collapse" id="{{Id}}" data-bind="infiniteScrollItem: { Id: $index(), array: $parent.items }">
	<div class="panel-heading" role="tab" data-bind="attr: { id: 'heading-' + $index() }, css: { 'active': $index() === 0 }">
		<h4 class="panel-title">
			<div class="lv-avatar pull-left" data-bind="text: 'ER', style: { backgroundColor: 'red' }">
			</div>
			<a class="p-b-25 m-t-15" data-toggle="collapse" data-parent="#accordion-errorTypes" data-bind="attr: { href: '#collapse-' + $index(), 'aria-controls': 'collapse-' + $index(), 'aria-expanded': $index() === 0 }">
				<i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i>
				<span id="errorType" data-bind="lookupValue: StatisticsKeyFaultImageKey(), lookups: $parent.lookups.statisticsKeyFaultImages"></span>
			</a>
		</h4>
	</div>
	<div class="collapse" role="tabpanel" data-bind="attr: { id: 'collapse-' + $index(), 'aria-expanded': $index() === 0 , 'aria-labelledby': 'heading-' + $index() }, css: { 'in': $index() === 0 }">
		<div class="panel-body">
			<pmb-block params="context: { errorType: $data }, onSave: context => $parent.onSaveErrorType(context), showHeader: false, showActions: false, css: 'm-0 p-0'">
				<pmbb-view>
					<!-- ko with: errorType -->
					<div class="row">
						<div class="col-md-11 col-sm-11 col-xs-10">
							<pmbb-view-entry params="caption: 'StatisticsKeyFaultImage'">
								<span data-bind="if: StatisticsKeyFaultImageKey, lookupValue: StatisticsKeyFaultImageKey, lookups: $root.lookups.statisticsKeyFaultImages"></span>
								<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: StatisticsKeyFaultImageKey"></span>
							</pmbb-view-entry>
							<pmbb-view-entry params="caption: 'Description'">
								<span data-bind="text: Description"></span>
								<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Description"></span>
							</pmbb-view-entry>
							<pmbb-view-entry params="caption: 'InternalRemark'">
								<span data-bind="text: InternalRemark"></span>
								<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InternalRemark"></span>
							</pmbb-view-entry>
							<pmbb-view-entry params="caption: 'IsMainErrorType'">
								<span data-bind="translatedText: 'Yes', visible: IsMainErrorType() === true"></span>
								<span data-bind="translatedText: 'No', visible: IsMainErrorType() === false"></span>
							</pmbb-view-entry>
							<pmbb-view-entry params="caption: 'IsSuspected'">
								<span data-bind="translatedText: 'Yes', visible: IsSuspected() === true"></span>
								<span data-bind="translatedText: 'No', visible: IsSuspected() === false"></span>
							</pmbb-view-entry>
							<pmbb-view-entry params="caption: 'IsConfirmed'">
								<span data-bind="translatedText: 'Yes', visible: IsConfirmed() === true"></span>
								<span data-bind="translatedText: 'No', visible: IsConfirmed() === false"></span>
							</pmbb-view-entry>

						</div>
						<div class="col-md-1 col-sm-1 col-xs-2">
							<lv-actions>@Html.PluginRenderActions("ServiceOrderErrorTypeListActions")</lv-actions>
						</div>
					</div>
					<!-- /ko -->
				</pmbb-view>
				<pmbb-edit>
					<!-- ko with: errorType -->
					<pmbb-edit-entry params="caption: 'StatisticsKeyFaultImage', validationElement: StatisticsKeyFaultImageKey">
						<select class="form-control" data-bind="select2autocompleter: { data: StatisticsKeyFaultImageKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_StatisticsKeyFaultImage'), placeholder: $parent.placeholder}" disabled></select>
					</pmbb-edit-entry>
					<pmbb-edit-entry params="caption: 'Description', validationElement: Description">
						<input type="text" class="form-control" data-bind="value: Description">
					</pmbb-edit-entry>
					<pmbb-edit-entry params="caption: 'InternalRemark', validationElement: InternalRemark">
						<input type="text" class="form-control" data-bind="value: InternalRemark">
					</pmbb-edit-entry>
					<pmbb-edit-entry params="caption: 'IsMainErrorType', validationElement: IsMainErrorType">
						<input type="checkbox" class="form-control" data-bind="value: IsMainErrorType, checked: IsMainErrorType">
					</pmbb-edit-entry>
					<!-- ko requiredPermission: { name: 'EditErrorTypeIsSuspected', group: 'ServiceOrderErrorType' } -->
					<pmbb-edit-entry params="caption: 'IsSuspected', validationElement: IsSuspected">
						<input type="checkbox" class="form-control" data-bind="value: IsSuspected, checked: IsSuspected">
					</pmbb-edit-entry>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'EditErrorTypeIsSuspected', group: 'ServiceOrderErrorType' } -->
					<pmbb-view-entry params="caption: 'IsSuspected'">
						<span data-bind="translatedText: 'Yes', visible: IsSuspected() === true"></span>
						<span data-bind="translatedText: 'No', visible: IsSuspected() === false"></span>
					</pmbb-view-entry>
					<!-- /ko -->
					<pmbb-edit-entry params="caption: 'IsConfirmed', validationElement: IsConfirmed">
						<input type="checkbox" class="form-control" data-bind="value: IsConfirmed, checked: IsConfirmed">
					</pmbb-edit-entry>
					<!-- /ko -->
				</pmbb-edit>
			</pmb-block>
		</div>
		<div class="h5 text-center text-uppercase p-t-10 p-b-10 m-l-20 p-r-10 row" style=" border-bottom: 1px solid #eee; border-top: 1px solid #eee; ">
			<div class="col-xs-10" style="padding-top: 0.6%;padding-bottom: 0.6%;">
				<span>@Html.Localize("ErrorCauses")</span>
			</div>
			<ul class="actions generic-list-actions pull-right col-xs-2 text-capitalize errorType-actions">
				<!-- ko requiredPermission: { name: 'Create', group: 'ServiceOrderErrorCause' } -->
				<li data-bind="visible: $root.tabs()['tab-error']().errorCausesCanBeAdded " class="p-absolute" id="add-sub-position-{{Id}}" style="right: 20%; margin-right: 10%;">
					<a href="#" title="@(Html.Localize("AddErrorCause"))" data-route="Crm.Service/ServiceOrderErrorCause/EditTemplate/?errorTypeId={{$data.Id()}}" data-toggle="modal" data-target="#lgModal" data-binb="tooltip : true">
						<i class="zmdi zmdi-plus-circle-o zmdi-hc-lg i-subposition-action" style="padding-right:10px;"></i>
					</a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
		<div style="min-height : 40px;">
			<!-- ko if: $parent.getDisplayedServiceOrderErrorCauses($data).length === 0 -->
			<div class="p-l-20 m-b-15">
				<span>@Html.Localize("ThereAreNoErrorCauses")</span>
			</div>
			<!-- /ko -->
			<div class="panel-group p-l-20 p-r-20" role="tablist" id="accordion-errorCauses">
				<div data-bind="foreach: $parent.getDisplayedServiceOrderErrorCauses($data)">
					@await Html.PartialAsync("GenericListItemGroup")
					@await Html.PartialAsync("../ServiceOrderErrorCauseList/MaterialItemTemplate")
				</div>
			</div>

		</div>
	</div>
</div>
<!-- /ko -->