@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko requiredPermission: { name: 'Edit', group: 'ServiceOrderExpensePosting' } -->
<!-- ko with: $parentContext.$parentContext.$parent -->
<li data-bind="visible: $data.expensePostingCanBeEdited.call($data, $parent)">
	<a href="#" data-bind="attr: { 'data-route': `Crm.Service/ServiceOrderExpensePosting/EditTemplate/${$parent.Id()}` }" data-toggle="modal" data-target="#lgModal">
		@(Html.Localize("Edit"))
	</a>
</li>
<!-- /ko -->
<!-- /ko -->