@inherits Crm.Library.Modularization.CrmViewUserControl<dynamic>

<div class="alert p-t-0 p-b-0 m-t-5 m-b-0 d-flex flex-v-center alert-warning" data-bind="translatedText: { key: 'AdNameMissingListAlert', args: [$data.usersWithoutAdName()] }, visible: window.Main.Settings.UseActiveDirectoryAuthenticationService && $data.usersWithoutAdName() > 0"></div>