@inherits Crm.Library.Modularization.CrmViewUserControl<dynamic>

<div class="alert p-t-0 p-b-0 m-b-0 d-flex flex-v-center" data-bind="translatedText: { key: 'AvailableUserLicenses', args: [$data.availableUserLicenses()] }, css: { 'alert-danger': $data.availableUserLicenses() <= 0, 'alert-info': $data.availableUserLicenses() > 0 }"></div>