@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	@Html.PluginRenderActions("ServiceCaseTemplateDetailsTabExtensions")
</div>