/** Set minimum width height to a size of a Samsung Galaxy S5 */
@media (orientation: landscape) {
    body {
        min-width: 640px;
        min-height: 360px;
    }
}

@media (orientation: portrait) {
    body {
        min-width: 360px;
        min-height: 640px;
    }
}

.pl-inline {
    width: 14px;
}

.fixfixed #header, .fixfixed #footer {
    position: absolute;
}

#sidebar, .modal-dialog {
    z-index: 10;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.actions {
    z-index: auto;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #e4e4e4 !important;
}

.dropdown.open .dropdown {
    display: none;
}

.panel-collapse .panel-heading i, a[data-toggle=collapse] i {
    float: right;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.panel-collapse .panel-heading.active i, a[data-toggle=collapse][aria-expanded=true] i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-collapse .panel-body {
    padding-right: 0;
}

.panel-collapse .panel-heading:before, .panel-collapse .panel-heading:after {
    display: none;
}

.panel-collapse.disabled {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
}

.bulk-control {
    display: none;
}

.lv-item:hover .bulk-control, .lv-item:focus .bulk-control, .bulk-selection .bulk-control {
    display: inherit;
}

.has-bulk-actions:not(.inline-editing) .lv-item:hover .lv-avatar, .has-bulk-actions .lv-item:focus .lv-avatar {
    display: none;
}

.modal-header .close {
    padding: 15px;
    margin: -17px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profile-view .pv-header {
    background-image: none;
}

.pre-line {
    white-space: pre-line;
}

.normal-white-space {
	white-space: normal !important;
}

/* for xs devices profile header background will be black otherwise */
#profile-main .pm-overview .pmo-block {
    background: #f8f8f8;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* make sure profile body has at least same height as profile overview*/
.pm-body .tab-content {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	#profile-main .pm-overview {
		position: relative;
	}
	#profile-main {
		display: flex;
	}
	#profile-main .pm-body {
		padding-left: 0;
		min-width: 0;
		flex-basis: 0px;
		flex-grow: 1;
	}
	.flex-md {
		display: flex;
		justify-content: center;
	}
}

/* wrap long captions in dls */

.dl-horizontal dt {
    white-space: normal;
}

/* wrap titles in fullcalendar */
.fc-day-grid-event .fc-content {
    white-space: normal;
}

/* leaflet specific - leaflet controls have a z-index of 1000 */
.card .card-header .actions {
    z-index: 1001;
}

#sidebar, #chat {
    z-index: 1003;
}

#header {
	z-index: 1004;
	overflow: visible !important;
}

#header .menu-more-vert > li > a > .zmdi {
	display: none;
}

#right-nav {
    z-index: 1005;
    /* display right nav in full height */
    top: 0;
    height: 100%;
    right: -100%;
}

#sweet-overlay, .modal-backdrop {
    z-index: 1006;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-youarehere {
    width: 47px;
    height: 47px;
    margin-left: -21px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.14);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#right-nav.toggled {
    right: 0;
}

/* fix dropdownlists overlapping primary action button */
.btn-primary.m-btn {
    z-index: 5;
}

/* hide primary actions rendered from generic list controllers which are from crm/sms */
#primary_action_button {
    display: none;
}

/* css for ios back button */
#back-trigger {
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#back-trigger .line.top, #back-trigger .line.bottom {
    background-color: white;
}

/* prevent streching of avatar background images */
.profile-view .pv-header > .pv-main, .lv-avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* signaturePad component */
signature-pad .clearButton {
    display: block;
}

/* prevent overflow in tag sidebar for very long tags */
.card.tags button {
    max-width: 100%;
}

/* red required markers */
.fg-toggled .required,
.dl-horizontal:has(.fg-toggled) .required {
	color: #f44336 !important;
}

/* make task dropdown scrollable*/
.top-menu .dropdown-menu .listview {
    max-height: calc(80vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* small device adjustment in top menu */
#menu-trigger {
	width: 48px !important;
    padding-top: 10px;
}

/* make icons in the top bar more thinner */
.top-menu li {
	min-width: 42px !important;
}

.max-width-100 {
	max-width: 100% !important;
}

@media (max-width: 768px) {
	.header-inner #top-menu-actions {
		max-width: calc(100% - 48px);
	}

	.flex-xs {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 576px) {
	.top-menu li {
		min-width: 37px !important;
	}

	.main-section {
		display: flex;
		justify-content: space-between;
	}

	.card .card-header .generic-list-actions {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		position: relative;
	}
}

.card .card-header h2 {
	max-width: calc(100% - 64px);
}

.listview .lv-title {
	white-space: normal !important;
}

/* required-permission binding debugging */
.required-permission {
    border: 1px solid #4CAF50;
}

.no-required-permission {
    border: 1px solid #F44336;
}

.required-permission:hover {
    border: 1px solid #2196F3;
}

/* prevent overflow of chart legend */
.flc-bar {
    overflow-x: scroll;
}

.animated {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

/* fix z-index of color pickers used inside modals */
.colorpicker-visible {
    z-index: 1050;
}

/* for color pickers with custom size */
.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}

.colorpicker-2x .colorpicker-selectors {
    width: 234px;
    margin-top: 0;
}

.colorpicker-2x .colorpicker-selectors i {
    margin: 2px 0 0 2px;
    cursor: pointer;
    float: left;
    height: 27px;
    width: 27px;
}

/* fix click targets for number input arrows */

input[type='number'] {
    line-height: 35px;
}

input[type='number'].input-sm {
    line-height: 30px;
}

.profile-menu > a .profile-pic > .img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.14);
    box-sizing: content-box;
}

.profile-menu > a .profile-pic > .img > div {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* support multiline tooltips */
.tooltip-inner {
    text-align: left;
    white-space: pre-line;
}

@media (min-width: 1200px) {
	licensing-alert > div {
		padding-left: 268px;
    }
}

/*
	There is a bug in the current theme 1.5.2, where the breadcrumbs don't have a class attached,
	because of this, its sliding when the screen hits a threshold, this was fixed presumably in 1.6.1,
	so when the material theme is updated, this fix should be reevaluated.
*/

@media (min-width: 768px) and (max-width: 1199px) {
	#content, breadcrumbs > .content {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 1199px) {
	body.sw-toggled .breadcrumb {
		padding: 10px 33px 11px 300px;
	}
}

/* 
	There is a bug in the current theme 1.5.2, where the breadcrumbs don't have a class attached,
	because of this, its sliding when the screen hits a threshold, this was fixed presumably in 1.6.1,
	so when the material theme is updated, this fix should be reevaluated.             
*/

@media (min-width: 768px) and (max-width: 1199px) {
	#content, breadcrumbs > .content {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 1199px) {
	body.sw-toggled .breadcrumb {
		padding: 10px 33px 11px 300px;
	}
}

.has-error .input-group-addon {
	color: #000000;
	background-color: transparent;
}

#material-medium-logo {
	margin-left: 2%;
}

.p-b-45 {
	padding-bottom: 45px !important;
}

.t-view .tv-body {
	padding: 23px 18px;
}

.actions.open {
	z-index: 6 !important;
}

.flex-centering {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* from bootstrap v4 */
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.empty-state-container {
	overflow: hidden;
}

#profile-main .pm-overview {
    overflow-y: visible !important;
}

@media (min-width: 1200px) {
	#profile-main .pm-overview {
		flex-basis: 300px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#profile-main .pm-overview {
		flex-basis: 250px;
	}
}

@media (min-width: 768px) {
	#profile-main .pm-overview {
		position: initial;
		height: inherit;
		background: #f8f8f8;
		border-right: 1px solid #eee;
	}
}

@media (max-width: 767px) {
	#profile-main .pm-overview {
		overflow-y: auto;
		text-align: inherit;
		background: #f8f8f8;
	}
}

#profile-main .pm-body {
	padding-left: 0px ;
}

#tab-participants .actions {
	z-index: 0;
}

.clickable {
 cursor: pointer;
}
.hover-underline:hover {
	text-decoration: underline;
}

.validation-danger-icon {
	color: #fff;
	font-size: 22px;
}

.d-flex {
	display: flex;
}

.fg-line .form-control:disabled {
	color: #7E7E7E;
	background: transparent;
}

#profile-main > div.pm-overview.c-overflow > div.pmo-pic {
	margin: 0px !important;
	padding: 20px;
}

.breadcrumb-list,
.article-preview {
  display: inline-block
}

.history-icon {
  color: #5e5e5e;
  padding-right: 15px;
  font-size: 18px;
}

/* Bugfix code on details pages */
.pmb-block:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 50px !important;
}

.tab-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.search-text {
  padding-left: 8px !important;
}

.break-word {
  overflow-wrap: break-word;
}

@media (max-width: 767px) {
  #calendar-widget .fc-day-header {
    word-spacing: 100vw;
  }
}

@media print {
  .col-sm-6 {
    float: left;
    width: 50%;
  }
}

.header-container {
	display: flex !important;
	align-items: center;
}

.header-container > div {
	font-weight: 500;
	color: #333;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	#calendar-widget .fc-day-header {
		word-spacing: 100vw;
	}
}

@media print {
	.col-sm-6 {
		float: left;
		width: 50%;
	}
}

.icon-indicator {
    position: absolute;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: 1px;
    top: -7px;
    font-size: 11px !important;
    line-height: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.f-2-rem {
    font-size: 2rem;
}

.word-break-word {
	word-break: break-word;
}

.mprogress-custom-parent {
	overflow: hidden;
	position: relative;
	z-index: 1000;
}

.highlighted-item {
	border-bottom: 1px solid #03A9F4 !important;
}

.col-sm {
	flex-basis: 0;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 15px;
}

#profile-main .pmb-block:last-child {
	margin-bottom: 10px !important;
}

.f-s-12 {
  font-size: 12px;
}

.lv-actions ul li a.disabled:hover {
	background: none;
	color: #777777;
	cursor: not-allowed;
}

.lv-min-height {
 min-height: 500px;
}

.top-menu .distance-information {
    color: #FFF;
    display: inline-block;
    line-height: 36px;
    pointer-events: none;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .table > thead > tr > th:first-child {
        padding-left: 10px !important;
    }

    .table > thead > tr > th:last-child {
        padding-right: 10px !important;
    }

    .table > thead > tr > th,
    .table > tbody > tr > td {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.name-underline {
    border-bottom: solid 1px #5e5e5e;
}

.preview-table-header {
    text-align: center;
    padding: 15px 10px 13px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #4C4C4C;
    margin-bottom: 10px;
}

@media print {
    .order-report .col-sm-1, .order-report .col-sm-2, .order-report .col-sm-3 {
        float: left;
    }
    .order-report .col-sm-3 {
        width: 25%;
    }
    .order-report .col-sm-2 {
        width: 16.66666667%;
    }
   .order-report .col-sm-1 {
        width: 8.33333333%;
    }

    .order-report .hidden-xs {
        display: initial !important;
    }
    .order-report {
        page-break-before: avoid;
    }
    .lv-body {
        page-break-inside: auto;
    }
    .report .row {
        page-break-after: avoid;
    }
}

.fg-line .input-group .input-group-addon .btn {
	margin-top: -18px;
}

div.checkbox.bulk-control{
	height: 35px !important;
}

.footer-logo {
	width: 100%;
	height: 100%;
}

.hide-mobile {
	display: none !important;
}

.h-80 {
	height: 80%;
}

.max-width-min-content{
	max-width: min-content;
}

.lc-block-register {
	width: auto !important;
}

@media (min-width: 1200px) {
	.container {
		width: calc(100% - 30px);
	}
}

@media (max-width: 1200px) {
	#sidebar .pin {
		display: none;
	}
}

#sidebar .pin {
	position: absolute;
	top: 14px;
	margin-left: 226px;
	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.80);
	background-size: 16px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	cursor: pointer;
}

#sidebar .pin:hover {
	background-color: rgba(244, 244, 244, 0.80);
}

body.sw-toggled #sidebar .pin {
	background-image: url("../img/icons/unpin.png");
}

body:not(.sw-toggled) #sidebar .pin {
	background-image: url("../img/icons/pin.png");
}

pmbb-view-entry dl {
	flex: 1;
}

#profile-main .pm-overview pmb-block .pmb-block {
	margin: 0;
	padding: 0;
}

#profile-main .pm-overview pmb-block ul.actions {
	z-index: 1;
}

#profile-main .pm-overview pmb-block .dl-horizontal dt {
	width: auto;
	float: none;
}

#profile-main .pm-overview pmb-block .dl-horizontal dd {
	margin-left: 0;
}

#profile-main .pm-overview pmb-block .pmbb-body {
	padding-left: 0 !important;
}

.address-pin {
	float: right !important;
	padding-right: 10px;
	font-size: 20px;
	color: #adadad !important;
}

div.pmo-block.pmo-contact .address-pin .zmdi-pin {
	color: #5e5e5e !important;
}

.img-thumbnail-container {
	max-width: 400px;
}

.leaflet-div-icon-content {
	position: absolute;
	width: 22px;
	font-size: 18px;
	color: white;
	left: 0;
	right: 0;
	margin: 4px auto;
	text-align: center;
}
.leaflet-marker-pin {
	width: 30px;
	height: 30px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50% 100%;
	border-bottom-left-radius: 100% 50%;
	border-bottom-right-radius: 0;
	position: absolute;
	transform: rotate(45deg);
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
}

.lv-item-target {
	background-color: lightgrey;
}

:root {
	--alt-bg-color: #f7f7f7;
	--active-action-bg-color: #4caf50;
	--skin-color-lightblue: #03a9f4;
	--skin-color-bluegray: #607d8b;
	--skin-color-blue: #2196f3;
	--skin-color-purple: #9c27b0;
	--skin-color-orange: #ff9800;
	--skin-color-cyan: #00bcd4;
	--skin-color-green: #4caf50;
	--skin-color-teal: #009688;
	--skin-color-pink: #e91e63;
	--border-radius: 25%;
}

.subsidiaries .form-control {
	height: auto;
	min-height: 35px;
}

.login-navigation {
	bottom: -55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

@media (min-width: 320px) {
	.login-navigation {
		flex-direction: row;
		bottom: -45px;
		justify-content: center;
	}
}

@media (min-width: 360px) {
	.login-navigation {
		flex-direction: row;
		bottom: -45px;
		justify-content: center;
	}
}

/* Divided detail -> */
.divided-detail {
	display: block !important;
}

.divided-detail .detail-main-block .pm-overview {
	background: var(--alt-bg-color) !important;
	flex-basis: auto !important;
	width: auto !important;
}

.divided-detail .pm-overview .pmb-block .pmbb-body,
.divided-detail .detail-side-block .pmb-block .pmbb-body {
	padding-left: 0 !important;
}

@media (max-width: 1800px) {
	.divided-detail .detail-side-block .pmb-block dd {
		margin-left: 0px !important;
	}

	.divided-detail .detail-side-block .pmb-block dt {
		float: unset !important;
	}
}

@media (min-width: 1200px) {
	.divided-detail .detail-side-block .pmo-contact {
		padding: 40px 42px 0;
	}

	.divided-detail .pm-overview .pmb-block,
	.divided-detail .pm-overview .pmo-block,
	.divided-detail .detail-main-block .pmb-block,
	.divided-detail .detail-main-block .pmo-block,
	.divided-detail .detail-side-block .pmb-block,
	.divided-detail .detail-side-block .pmo-block,
	.divided-detail .pm-overview block-content .container > .alert,
	.divided-detail .pm-overview .flex-block:not(.m-0) {
		margin: 25px 27px 0 !important;
	}
}

@media (max-width: 1199px) {
	.divided-detail .detail-side-block .pmo-contact {
		padding: 30px 20px 0;
	}

	.divided-detail .pm-overview .pmb-block,
	.divided-detail .pm-overview .pmo-block,
	.divided-detail .detail-main-block .pmb-block,
	.divided-detail .detail-main-block .pmo-block,
	.divided-detail .detail-side-block .pmb-block,
	.divided-detail .detail-side-block .pmo-block,
	.divided-detail .pm-overview block-content .container > .alert,
	.divided-detail .pm-overview .flex-block:not(.m-0) {
		margin: 20px 16px 0 !important;
	}
}

.divided-detail .pmb-block:not(.pmo-block),
.divided-detail .pmb-block.tags,
.divided-detail .detail-side-block .pmo-block,
.divided-detail .detail-side-block .pmo-contact {
	padding: 0 !important;
}

@media (min-width: 768px) {
	.divided-detail .detail-main-block {
		display: flex;
	}
}

.divided-detail > .pm-overview .flex-block > * {
	margin: 0 !important;
}

.divided-detail > .pm-overview .alert {
	margin-bottom: 0 !important;
}

.divided-detail > .pm-overview .field-block {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 25px;
}

.divided-detail .header-thumbnail {
	max-width: 500px;
}

.divided-detail .header-thumbnail > .image-container {
	min-width: 150px;
	min-height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.divided-detail .min-title-width {
	min-width: 100px;
}

.divided-detail .max-title-width {
	max-width: 70%;
}

/* <- Divided detail */

/* Collapsible block -> */
collapsible-block .panel-heading.active i:not(.collapse-action),
collapsible-block a[data-toggle=collapse][aria-expanded=true] i:not(.collapse-action) {
	transform: rotate(0deg);
}

collapsible-block .panel-heading.active .panel-title > a:after {
	background: transparent !important;
}

collapsible-block .panel-collapse .panel-heading:not(.active) .panel-title > a:before {
	background: none;
}

*:has(> collapsible-block.morph) {
	container-type: inline-size;
}

@container (min-width: 800px) {
	collapsible-block.morph:has(.panel-heading.active) .collapsible-block {
		display: flex;
	}

	collapsible-block.morph:has(.panel-heading.active) .collapsible-block > .panel-collapse {
		display: flex;
		flex: 1;
	}

	collapsible-block.morph:has(.panel-heading.active) .collapsible-block > .panel-collapse > collapsible-block-header {
		flex: 0.1;
		min-width: 200px;
	}

	collapsible-block.morph:has(.panel-heading.active) .collapsible-block > .panel-collapse > collapsible-block-content {
		flex: 0.9;
	}

	collapsible-block.morph collapsible-block-content > div:not(.in) {
		opacity: 0;
	}
}
/* <- Collapsible block */

/* Morph tab -> */
@media (min-width: 768px) {
	.tab-nav.morph li {
		display: list-item;
		width: auto;
		height: 50px;
		min-width: 150px;
	}

	.tab-nav.morph li.active {
		background: white;
	}

	.tab-nav.morph li.active a {
		border-right: solid 2px #2196F3;
		background: white;
	}

	.tab-nav.morph:not([data-tab-color]) > li > a:after {
		background: unset;
	}
}
/* <- Morph tab */

/* Section menu -> */
.top-menu.section-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.top-menu.section-menu > li > a {
	display: block;
	width: unset !important;
	height: unset !important;
	margin: 0;
	padding: 4px 4px 0px 4px;
}

.lv-header-alt:not(.selection-mode) .section-menu.actions > li > a {
	color: #545454;
}

.generic-list.bulk-selection .section-menu.actions > li > a,
.lv-header-alt.selection-mode .section-menu.actions > li > a > i {
	color: white;
}

.top-menu.section-menu.actions > li > a > i:not(.tmn-counts) {
	font-size: 24px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.top-menu.section-menu.actions > li > a:before,
	.top-menu.section-menu.actions > a:before {
		width: 0;
		height: 0;
	}

	.top-menu.section-menu.actions > li.active {
		background-color: rgba(0, 0, 0, 0.12);
		border-radius: 2px;
	}

	.top-menu.section-menu.actions > li.active > a > i {
		color: #000;
	}
}

.top-menu.section-menu.actions {
	top: unset;
}

.card-header.top-menu.section-menu.actions {
	padding-left: 2px;
	padding-right: 1px;
}

.card .card-header .section-menu.actions {
	position: relative;
	right: 0;
}

.main-section {
	display: flex;
	justify-content: space-between;
	padding-right: 0px !important;
}

.main-section .dropdown-menu {
	z-index: 1001;
}

.main-section.selection-mode h2 a {
	color: #9cd5ff;
}

.main-section.selection-mode h2 a:hover {
	color: #80bdeb;
}

.main-section > .card-header {
	padding-top: 0 !important;
	padding-right: 4px !important;
	padding-bottom: 0 !important;
}

.main-section > .card-header > .caption {
	flex-direction: column;
	justify-content: center;
	min-width: 150px;
}

.main-section > .card-header > ul {
	align-content: center;
}

.main-section .card-header > *:not(.action-separator),
.generic-list > .lv-header-alt,
.tab-pane .lv-header-alt,
.content-header .lv-header-alt{
	padding: 6px 0px;
}

.divided-detail .main-section .card-header > * {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.divided-detail .content-header > .main-section {
	display: flex !important;
	align-items: center;
	flex-grow: 1;
	padding-right: 4px;
}

.divided-detail .content-header > .main-section > h2 {
	display: flex !important;
	align-items: center;
	flex-grow: 1;
	max-width: 100%;
}

.action-separator {
	border-left: solid 1px #e5e5e5;
	padding-left: 4px;
	margin-left: 6px;
	min-height: 36px;
	height: 60%;
}

.action-separator:has(+ floating-action-button[style*='display: none']) {
	display: none;
}

.top-menu.section-menu.actions > li.dropdown:not(:has(> ul.dropdown-menu > li)) {
	display: none;
}

.top-menu.section-menu.actions:has(> li.dropdown):not(:has(> li.dropdown > ul.dropdown-menu > li)) + .action-separator,
.top-menu.section-menu.actions:not(:has(*)) + .action-separator {
	display: none;
}
/* <- Section menu */

/* Top menu overrides -> */
.content-header .top-menu {
	display: flex;
	align-items: stretch;
}

.content-header .top-menu > li {
	max-width: 120px;
	word-break: break-word;
}

.top-menu > li > a {
	margin: 1px 6px;
}

.top-menu > li {
	cursor: pointer;
	vertical-align: top !important;
}

.top-menu > li > a > .tmn-counts {
	top: 0;
	right: 0;
}
/* <- Top menu overrides */

/* Header overrides -> */
#header .header-inner {
	padding-top: 6px;
	padding-bottom: 0;
	display: flex;
}

#header .header-inner .logo {
	min-width: 0;
}

#header .header-inner .logo a {
	padding-top: 18px;
}

#header .header-inner #top-menu-actions {
	margin-left: auto;
}

#header .header-inner #top-menu-actions > .top-menu,
#header .header-inner #top-menu-actions > .top-menu > .top-menu.top-menu-actions {
	display: flex;
	flex-wrap: nowrap;
	gap: 3px;
}

/* <- Header overrides */

/* Misc. overrides -> */
.generic-list.has-bulk-actions.bulk-selection .top-menu.section-menu.actions > li > a > i {
	color: white !important;
}

.generic-list > .lv-header-alt,
.tab-pane .lv-header-alt {
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.divided-detail .content-header > .main-section > .actions.generic-list-actions {
	position: relative;
	top: 0;
}

@media (max-width: 767px) {
	#profile-main .pmo-pic.user-avatar img
	{
		width: 100%;
		height: auto;
		border-radius: unset;
		border: none;
		box-shadow: none;
	}
}

.lv-header-alt {
	background: var(--alt-bg-color);
}
/* <- Misc. overrides */

/* Fixed float actions in content header --> */
.divided-detail .content-header floating-action-button {
	display: flex;
	align-items: center;
	padding: 5px 8px 6px 4px;
}

.divided-detail .content-header floating-action-button > ul {
	position: relative;
	margin: 0;
}

.divided-detail .content-header floating-action-button > a {
	position: relative !important;
	top: 0;
	right: 0;
}

.divided-detail .content-header.placeholder .card-header > .caption > h2 {
	line-height: 44px;
}

.divided-detail .content-header .mfb-component__wrap {
	padding: 10px;
	margin: -10px;
}

.divided-detail .content-header floating-action-button > a,
.divided-detail .content-header.placeholder > floating-action-button > ul > li > a,
.divided-detail .content-header floating-action-button a.mfb-component__button--main,
.divided-detail .content-header floating-action-button a.mfb-component__button--child {
	width: 46px;
	height: 46px;
	line-height: 41px !important;
}

.divided-detail .content-header.placeholder > floating-action-button > ul > li > a > i,
.divided-detail .content-header floating-action-button a.mfb-component__button--main > i,
.divided-detail .content-header floating-action-button a.mfb-component__button--child > i {
	line-height: 46px !important;
}

.divided-detail .content-header .btn-float,
.divided-detail .content-header floating-action-button a.mfb-component__button--main,
.divided-detail .content-header floating-action-button a.mfb-component__button--child {
	border-radius: var(--border-radius);
}

.divided-detail .content-header .mfb-component--tr,
.divided-detail .content-header .mfb-component__button--main {
	z-index: unset;
}

.divided-detail .content-header .mfb-component--tr .mfb-component__list {
	z-index: 30;
	position: relative;
	top: -45px;
}
/* <-- Fixed float actions in content header */

/* Content header --> */
.divided-detail .content-header {
	display: flex;
	background-color: var(--alt-bg-color);
}

.divided-detail .content-header:has(> .main-section.selection-mode),
.main-section.selection-mode {
	background-color: #607d8b !important;
}

.divided-detail .content-header:has(> .main-section.selection-mode) h2 span,
.main-section.selection-mode h2 span {
	color: #fff !important;
}

.divided-detail .content-header > .action-separator {
	margin: 6px 0px;
}

.divided-detail .content-header > .main-section > .card-header {
	padding-left: 8px;
}

.divided-detail .content-header:has(floating-action-button[style*='display: none']):not(:has(.top-menu.section-menu.actions)) {
	display: none;
}

.divided-detail .content-header button > span{
	min-height: 18px;
}
/* <-- Content header */

.pmb-block > div.d-flex {
	gap: 10px;
}

.top-separator {
	border-top: solid 1px #eeeeee;
}

.bg-white {
	background-color: white !important;
}

.flex-v-center {
	align-items: center;
}

.flex-auto {
	flex: auto;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-fill {
	flex: 1 100%;
}

.flex-block {
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	gap: 20px;
}

.flex-block > * {
	flex: auto;
}

#sidebar-chat {
	z-index: 1003;
}

.displayed-email-recipients {
	display: flex;
	align-items: center
}

.delete-save-buttons {
	display: flex; 
	justify-content: center; 
	margin-top: 15px;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}
/* 
 * Load Font
 */

/*
 * Roboto Thin
 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/*
 * Roboto Light
 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/*
 * Roboto Regular
 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

/*
 * Roboto Medium
 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/*
 * Roboto Bold
 */

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* Full calendar event elements - proper wrapping --> */
.full-calendar .fc-event .fc-content > .fc-time {
	float: unset;
}
/* <-- Full calendar event elements - proper wrapping */
	
/* Display dropdown behind the header --> */
.select2-dropdown {
	z-index: 1002 !important;
}

body:has(#right-nav.toggled) .select2-dropdown,
body:has(.modal.in) .select2-dropdown {
	z-index: 1051 !important;
}
/* <-- Display dropdown behind the header */

/* Rounded button with circle --> */
button.border-round,
i.zmdi.border-round {
	border-radius: 16px;
}

button > i.circle-icon-left,
button > i.circle-icon-right {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0px !important;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 32px;
}

button > i.circle-icon-right {
	right: 0;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

button > i.circle-icon-left {
	left: 0;
}

button:has(> i.circle-icon-right) {
	padding-right: 38px;
}

button:has(> i.circle-icon-left) {
	padding-left: 38px;
}

button.dropdown-toggle[aria-expanded="true"] > i.zmdi-chevron-down {
	background-color: #1f87d9;
}

button.dropdown-toggle[aria-expanded="false"] > i.zmdi-chevron-down {
	background-color: #2196f3;
}

.generic-list-header .btn:not(.btn-link) {
	box-shadow: none;
}

.generic-list-header .btn:not(.btn-link),
.generic-list-header .btn:hover {
	border: solid 1px #e5e5e5 !important;
}

.generic-list-header button {
	text-transform: none;
}

.generic-list-header button.filter-value {
	cursor: default;
	position: relative;
	opacity: 1 !important;
}

.generic-list-header button.filter-value > i.circle-icon-right {
	cursor: pointer;
}
/* <-- Rounded button with circle */

/* Generic list - compact action mode --> */
.generic-list-header .top-menu.section-menu > li > a > .tmn-counts {
	color: white;
	right: 4px;
}

.generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
	display: none;
}

@media (max-width: 2400px) and (min-width: 1200px) {
	.divided-detail .detail-side-block .generic-list-header button span.caption,
	.divided-detail .detail-side-block .generic-list-header .filter-values {
		display: none;
	}

	.divided-detail .detail-side-block .generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
		display: inherit;
	}
}

@media (max-width: 1600px) and (min-width: 1200px) {
	.divided-detail .tab-content .generic-list-header button span.caption,
	.divided-detail .tab-content .generic-list-header .filter-values {
		display: none;
	}

	.divided-detail .tab-content .generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
		display: inherit;
	}
}

@media (max-width: 800px) {
	.divided-detail .detail-side-block .generic-list-header button span.caption,
	.divided-detail .detail-side-block .generic-list-header .filter-values {
		display: none;
	}

	.divided-detail .detail-side-block .generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
		display: inherit;
	}

	.divided-detail .tab-content .generic-list-header button span.caption,
	.divided-detail .tab-content .generic-list-header .filter-values {
		display: none;
	}

	.divided-detail .tab-content .generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
		display: inherit;
	}

	.container:not(:has(.divided-detail)) .generic-list-header button span.caption,
	.container:not(:has(.divided-detail)) .generic-list-header .filter-values {
		display: none;
	}

	.container:not(:has(.divided-detail)) .generic-list-header .top-menu.section-menu > li > a#open-generic-list-filter > .tmn-counts {
		display: inherit;
	}
}
/* <-- Generic list - compact action mode */

.location-point {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.location-point-text {
	line-height: 1.5;
	white-space: nowrap;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.location-point-text * {
	white-space: nowrap !important;
}

.m-l-auto {
	margin-left: auto;
}

/* Status chooser --> */
status-chooser .btn-status-current {
	opacity: 1 !important;
}
/* <-- Status chooser */

/* Pagination overrides --> */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	background-color: var(--active-action-bg-color);
}
/* <-- Pagination overrides */

/* Prevents the list item context menu from being hidden in the right pane --> */
#right-nav #mCSB_2_container:has(.listview) {
	min-height: -webkit-fill-available;
}

#right-nav #mCSB_2_container:has(.listview):has(.lv-actions.actions.dropdown.open) span:has(.pagination) {
	margin-bottom: 100px;
}
/* <-- Prevents the list item context menu from being hidden in the right pane */

/* Full calendar overrides --> */
#calendar-widget .fc-day-header {
	filter: brightness(0.8);
}

body:has(header[data-current-skin="lightblue"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="lightblue"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-lightblue);
}

body:has(header[data-current-skin="lightblue"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-lightblue);
}

body:has(header[data-current-skin="bluegray"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="bluegray"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-bluegray);
}

body:has(header[data-current-skin="bluegray"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-bluegray);
}

body:has(header[data-current-skin="blue"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="blue"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-blue);
}

body:has(header[data-current-skin="blue"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-blue);
}

body:has(header[data-current-skin="purple"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="purple"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-purple);
}

body:has(header[data-current-skin="purple"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-purple);
}

body:has(header[data-current-skin="orange"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="orange"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-orange);
}

body:has(header[data-current-skin="orange"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-purple);
}

body:has(header[data-current-skin="cyan"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="cyan"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-cyan);
}

body:has(header[data-current-skin="cyan"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-cyan);
}

body:has(header[data-current-skin="green"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="green"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-green);
}

body:has(header[data-current-skin="green"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-green);
}

body:has(header[data-current-skin="teal"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="teal"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-teal);
}

body:has(header[data-current-skin="teal"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-teal);
}

body:has(header[data-current-skin="pink"]) #calendar-widget .fc-toolbar,
body:has(header[data-current-skin="pink"]) #calendar-widget .fc-day-header {
	background-color: var(--skin-color-pink);
}

body:has(header[data-current-skin="pink"]) #calendar-widget .fc-toolbar .ui-button:hover {
	color: var(--skin-color-pink);
}
/* <-- Full calendar overrides */

/* Checkbox - right alignment --> */
.checkbox.right-align .input-helper::before,
.checkbox.right-align .input-helper::after {
	left: unset;
	right: -1px;
}
/* <-- Checkbox - right alignment */

/* Forms --> */
form collapsible-block collapsible-block-content > div > .panel-body {
	padding-top: 20px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
}

form .top-separator {
	margin-left: 20px;
	margin-right: 20px;
}

form .flex-input-row select[multiple] + .select2.select2-container .select2-search__field {
	width: 100% !important;
}

.form-footer {
	background-color: var(--alt-bg-color);
}
/* <-- Forms */

/* Flex row for inputs --> */
.flex-input-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px
}

.flex-input-row > div {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 250px;
}
/* <-- Flex row for inputs */

/* <-- Full calendar event elements - proper wrapping */

.sweet-overlay {
	z-index: 1040;
}

.control-label,
.filter-element > p:first-child,
.filter-element > .fg-line > p:first-child,
.form-group > .fg-line > p:first-child {
	font-weight: bold;
}


.show-on-print {
	display: none;
}

@media print {
	.show-on-print {
		display: block;
	}
}
/* Top search --> */
#top-search-wrap {
	background: unset;
	filter: brightness(120%);
}

#top-search-wrap #top-search-search {
	position: absolute;
	top: 15px;
	font-size: 23px;
	font-style: normal;
	width: 45px;
	text-align: center;
	border-radius: 2px 0px 0px 2px;
	cursor: pointer;
	right: 15px;
	height: 40px;
	padding-top: 9px;
}

#top-search-wrap #top-search-close:hover,
#top-search-wrap #top-search-search:hover {
	background-color: #c5c5c5;
}
/* <-- Top search */

/* fix contrast issues --> */
.alert-warning {
	background-color: rgba(255, 193, 7, 0.7);
	border-color: transparent;
	color: #414141;
}

.alert-warning hr {
	border-top-color: rgba(0, 0, 0, 0);
}
.c-gray {
	color: #757575 !important;
}
/* <-- fix contrast issues  */

#top-menu-actions .top-menu > li > a > div,
#header .logo a {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@media (max-width: 1000px) {
	#top-menu-actions .top-menu > li > a > div {
		max-width: 50px;
	}
}

/* List header dropdown active element styling --> */
.lv-header-alt .dropdown-menu li > a {
	padding-left: 34px;
}

.lv-header-alt .dropdown-menu li.active:before {
	content: "\2022";
	font-size: 24px;
	padding-left: 14px;
	position: absolute;
}

.lv-header-alt .dropdown-menu > li.active > a {
	background-color: unset;
}

.lv-header-alt .dropdown-menu > li.active > a:hover,
.lv-header-alt .dropdown-menu > li.active > li > a:focus {
	background-color: rgba(0, 0, 0, 0.075);
}
/* List header dropdown active element styling <--  */

/* Breadcrumb --> */
.breadcrumb > li > a {
	color: #6a6a6a;
}

.breadcrumb > li > a:hover {
	color: #1d1d1d;
}

.breadcrumb > li + li:before {
	color: #b7b7b7;
}

.breadcrumb > li span.bold {
	font-weight: 700;
}
/* <-- Breadcrumb */

/* <-- User's Avatar image */
.user-avatar-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* <-- User's Avatar image */

/* Top menu dropdown aligment override --> */
@media (max-width: 767px) {
	.top-menu > li {
		position: relative;
	}
	.top-menu > li:has(.dropdown-menu.dropdown-menu-lg) {
		position: static !important;
	}

	.top-menu .dropdown-menu{
		top: 58px;
	}

	.top-menu .dropdown-menu:not(.dropdown-menu-lg) {
		left: auto;
		right: auto;
	}
}
/* <-- Top menu dropdown aligment override */

/* fix lv actions in panel heading --> */
.lv-actions i {
	float: none !important;
}
/* <-- fix lv actions in panel title  */

@media (min-width: 992px) and (max-width: 1199px) {
	form-element.caption-hidden-md label.fg-label.control-label:has(span[data-bind="text: caption"]) {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	form-element.caption-hidden-lg label.fg-label.control-label:has(span[data-bind="text: caption"]) {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		width: 1140px;
	}
}

.noUi-horizontal .noUi-handle {
	left: -9px;
}

.input-slider.form-slider {
	height: auto !important;
}

.input-slider.form-slider .noUi-base {
	height: 3px !important;
}

.input-slider.form-slider .noUi-pips {
	position: relative !important;
}

.input-slider.form-slider.noUi-background {
	background: unset !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
	form-element.caption-hidden-md label.fg-label.control-label:has(span[data-bind="text: caption"]) {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	form-element.caption-hidden-lg label.fg-label.control-label:has(span[data-bind="text: caption"]) {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		width: 1140px;
	}
}

#recentPageDropdown {
    z-index: 1002;
}
