@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="listview lv-bordered ml-3">
	<!-- ko with:  $root.dispatch -->
	<!-- ko foreach: ReportRecipients -->
	<div class="lv-item row">
		<div class="col-xs-10">
			<span data-bind="text: $data.Email" style="white-space: pre-line; word-break: break-word;"></span>
			<!-- ko if: $data.Locale() -->
			<br/>
			<span data-bind="text: Helper.Culture.getDisplayName($data.Locale())"></span>
			<!-- /ko -->
		</div>
	</div>
	<!-- /ko -->
	<!-- ko if: ReportRecipients().length === 0 -->
	<div class="col-md-12 m-t-15 m-b-15">
		<span class="c-gray" data-bind="translatedText: 'NoRecipientFound'"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
</div>
