@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: bookmarks().length > 0 -->
<div class="dropdown">
	<button id="bookmark-dropdown" class="btn btn-default btn-icon-text waves-effect border-round dropdown-toggle" data-toggle="dropdown"
	        aria-expanded="false">
		<span class="d-flex flex-v-center">
			<span class="d-flex flex-v-center">
				<i class="zmdi zmdi-bookmark f-15"></i>
			</span>
			<!-- ko if: bookmark -->
			<span class="m-l-5 caption" data-bind="text: bookmark().Name"></span>
			<!-- /ko -->
		</span>
		<i class="zmdi zmdi-chevron-down border-round bg-primary text-primary circle-icon-right"></i>
	</button>
	<ul class="dropdown-menu dropdown-menu-left" data-bind="foreach: bookmarks.indexKeys.Category()">
		<!-- ko foreach: $parent.bookmarks.index.Category()[$data] -->
		<li data-bind="attr: { 'class': $data.Key.toLowerCase() + '-filter' }, css: { 'active': $parentContext.$parent.bookmark() === $data }">
			<a href="#" data-bind="click: $parentContext.$parent.toggleBookmark">
				<span data-bind="text: Name"></span>
			</a>
		</li>
		<!-- /ko -->
	</ul>
</div>
<!-- /ko -->