@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<!-- ko requiredPermission: { name: 'Edit', group: 'Visibility' } -->
<collapsible-block params="id: 'visibility', collapsed: true" class="morph">
	<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
		<span>@(Html.Localize("Visibility"))</span>
	</collapsible-block-header>
	<collapsible-block-content>
		<!-- ko with: $root.visibilityViewModel -->
		@Html.RenderAction("Selection", "Visibility", new { plugin = "Main" })
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>
<!-- /ko -->