@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: $root.serviceOrderErrors.items().length > 0 -->
<collapsible-block params="id: 'errors'">
	<collapsible-block-header params="customCss: 'bgm-white'">
		<span>@(Html.Localize("ErrorTypes")) &amp; @(Html.Localize("ErrorCauses"))</span>
	</collapsible-block-header>
	<collapsible-block-content params="context: { errors: $root.serviceOrderErrors.items() }">
		<!-- ko foreach: errors -->
		<div>
			<h4>
				@(Html.Localize("Dispatch"))
			</h4>
			<div class="form-group">
				<div class="checkbox m-b-15">
					<label>
						<input type="checkbox" data-bind="checked: $root.selectedServiceOrderErrors, checkedValue: $data" name="ServiceOrderStatisticsKey">
						<i class="input-helper"></i>
						<span>
							<span>
								<!-- ko with: ServiceOrderDispatch -->
								@await Html.PartialAsync("DispatchLinkContent")
								<!-- /ko -->
							</span>
						</span>
					</label>
				</div>
			</div>
			<pmbb-view-entry params="caption: 'StatisticsKeyFaultImage'">
				<span data-bind="if: StatisticsKeyFaultImageKey, lookupValue: StatisticsKeyFaultImageKey, lookups: $root.lookups.statisticsKeyFaultImages"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: StatisticsKeyFaultImageKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Description'">
				<span data-bind="text: Description"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Description"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'InternalRemark'">
				<span data-bind="text: InternalRemark"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InternalRemark"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'IsMainErrorType'">
				<span data-bind="translatedText: 'Yes', visible: IsMainErrorType() === true"></span>
				<span data-bind="translatedText: 'No', visible: IsMainErrorType() === false"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'IsSuspected'">
				<span data-bind="translatedText: 'Yes', visible: IsSuspected() === true"></span>
				<span data-bind="translatedText: 'No', visible: IsSuspected() === false"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'IsConfirmed'">
				<span data-bind="translatedText: 'Yes', visible: IsConfirmed() === true"></span>
				<span data-bind="translatedText: 'No', visible: IsConfirmed() === false"></span>
			</pmbb-view-entry>
		</div>
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>
<!-- /ko -->