@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<div class="content-header placeholder">
		<div class="card-header generic-list-header main-section listview d-block">
			<h2>&nbsp;</h2>
		</div>
		<floating-action-button params="position: 'top', showWhenDropdownIsToggled: true">
			@Html.PluginRenderActions("ServiceOrderDetailsPrimaryAction")
		</floating-action-button>
	</div>
	<pmb-block class="report-details-pmb" params="icon: 'label-alt-outline', caption: 'Reportdetails', context: { serviceOrder: serviceOrder }, condition: serviceOrderIsEditable, onAfterSave: $root.onAfterSaveGeneralInfo.bind($root)">
		@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabReportDetails") 
	</pmb-block>
	@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabScheduling") 
	@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabServiceObject") 
	@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabServiceContract")
	<pmb-block params="icon: 'money-box', caption: 'Invoicing', context: { serviceOrder: serviceOrder }, condition: serviceOrderIsEditable, onSave: onSaveInvoicing.bind($root)">
		@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabInvoicing")
	</pmb-block>
	@Html.PluginRenderActions("ContactMaterialDetailsTabExtensions")
</div>