@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-materials" data-bind="with: tabs()['tab-materials']">
	<div class="content-header placeholder">
		@Html.RenderAction("GenericListHeader", "ServiceOrderMaterialList", new { plugin = "Crm.Service" })
		<floating-action-button params="position: 'top', showWhenDropdownIsToggled: true">
			@Html.PluginRenderActions("ServiceOrderMaterialsTabPrimaryAction")
		</floating-action-button>
	</div>
	<ul class="top-menu">
		@Html.PluginRenderActions("ServiceOrderMaterialsTabTopMenu")
	</ul>
	<empty-state-box params="mood: 'sad', title: 'MaterialAndCost', text: 'MaterialEmptySlateDescription'" data-bind="visible: items().length === 0 && !isFiltered()">
	</empty-state-box>
	<div class="generic-list listview lv-bordered">
		<div class="lv-body">
			<div data-bind="foreach: items">
				@await Html.PartialAsync("GenericListItemGroup") 
				@await Html.PartialAsync("../ServiceOrderMaterialList/MaterialItemTemplateWithGroups") 
			</div>
			@await Html.PartialAsync("../ServiceOrderMaterialList/TotalPrices")
			<!-- ko if: items().length === 0 && isFiltered() -->
			<div id="generic-list-empty-state" class="lv-item media">
				<div class="row media-body">
					<div class="col-xs-12">
						<small class="lv-small">@(Html.Localize("NoRecordsForSearchCriteria"))</small>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	 @await Html.PartialAsync("Material/GenericListPreloader") 
</div>