@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko with: serviceOrder -->
<h1 id="OrderNo" class="m-b-5" data-bind="text: OrderNo"></h1>
<h4 class="c-gray m-t-0 m-b-0" data-bind="text: window.Helper.Lookup.getLookupValue($parent.lookups.serviceOrderTypes, TypeKey())"></h4>
<!-- /ko -->
