<!-- ko if: $data -->
<!-- ko requiredPermission: { name: 'Read', group: 'Dispatch' } -->
<i class="zmdi zmdi-wrench"></i>
<a href="#/Crm.Service/Dispatch/DetailsTemplate/{{Id}}?tab={{ko.unwrap($root.currentTabId) || 'tab-details'}}">
	<span data-bind="text: DispatchNo() + ' - ', if: DispatchNo() !== null && DispatchNo().length > 0"></span>
	<span data-bind="text: Helper.User.getDisplayName(DispatchedUser()) + ' - '"></span>
	<span data-bind="dateText: { value: Date, pattern: { datetime: 'short' } }"></span>
</a>
<!-- /ko -->
<!-- ko noRequiredPermission: { name: 'Read', group: 'Dispatch' } -->
<span data-bind="text: DispatchNo() + ' - ', if: DispatchNo() !== null && DispatchNo().length > 0"></span>
<span data-bind="text: Helper.User.getDisplayName(DispatchedUser()) + ' - '"></span>
<span data-bind="dateText: { value: Date, pattern: { datetime: 'short' } }"></span>
<!-- /ko -->
<!-- /ko -->