@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="col-sm-3">
	<span
		data-bind="dateText: { value: From, timeZone: TimeZoneFrom, pattern: { [window.Helper.Date.areOnSameDay(To(),From()) ? 'time':'datetime']: 'short' } }"></span>
	<!-- ko if: !Helper.Date.isTimeZoneSame(TimeZoneFrom) && $parent.getLocalTimeZoneText($data) -->
	<i>(<span data-bind="text: Helper.Date.getUtcOffsetString(TimeZoneFrom, From)"></span>)</i>
	<button class="btn btn-link"
	   data-bind="popover: { content: $parent.getLocalTimeZoneText($data), placement: 'auto right', html: true }, tooltip: true"
	   title="@(Html.Localize("Hint"))">
		<i class="f-20 zmdi zmdi-info-outline"></i>
	</button>
	<!-- /ko -->
	<br/>
	<span
		data-bind="dateText: { value: To, timeZone: TimeZoneTo, pattern: { [window.Helper.Date.areOnSameDay(To(),From()) ? 'time':'datetime']: 'short' } }"></span>
	<!-- ko if: !Helper.Date.isTimeZoneSame(TimeZoneTo) && $parent.getLocalTimeZoneText($data) -->
	<i>(<span data-bind="text: Helper.Date.getUtcOffsetString(TimeZoneTo, To)"></span>)</i>
	<button class="btn btn-link"
	   data-bind="popover: { content: $parent.getLocalTimeZoneText($data), placement: 'auto right', html: true }, tooltip: true"
	   title="@(Html.Localize("Hint"))">
		<i class="f-20 zmdi zmdi-info-outline"></i>
	</button>
	<!-- /ko -->
</div>
<div class="col-sm-4">
	<div class="lv-title">
		<!-- ko ifnot: Helper.ServiceOrderTimePosting.isPrePlanned($data) -->
		<span data-bind="dateText: From"></span>
		<!-- ko if: !window.Helper.Date.areOnSameDay(To(),From()) -->
		- <span data-bind="dateText: To"></span>
		<!-- /ko -->
		<br/>
		<!-- /ko -->
		<span class="timeposting-itemno" data-bind="text: ItemNo"></span> - <span
			data-bind="text: ItemDescription"></span>
	</div>
	<div>
		<!--ko if: InternalRemark -->
		<span data-bind="translatedText: 'InternalRemark'"></span><span>:</span>
		<span class="c-gray"
		      data-bind="attr: { id: `InternalRemark-${Id()}` }, text: { value: InternalRemark, expand: true, limit: 50 }"></span>
		<!-- /ko -->
	</div>
	<div>
		<!--ko if: Description -->
		<span data-bind="translatedText: 'ExternalRemark'"></span><span>:</span>
		<span class="c-gray"
		      data-bind="attr: { id: `Description-${Id()}` }, text: { value: Description, expand: true, limit: 50 }"></span>
		<!-- /ko -->
	</div>
	<!-- ko if: DispatchId() && ServiceOrderDispatch() && $parent instanceof window.Crm.Service.ViewModels.ServiceOrderDetailsTimePostingsTabViewModel -->
	@await Html.PartialAsync("DispatchLink")
	<!-- /ko -->
	<ul class="lv-attrs">
		<li data-bind="visible: $parent.showServiceOrderTimePostingType">
			<span data-bind="translatedText: 'ServiceOrderTimePostingType' + ServiceOrderTimePostingType()"></span>
		</li>
		<li data-bind="visible: !window.Helper.ServiceOrderTimePosting.isPrePlanned($data)">
			<i class="zmdi zmdi-account-circle"></i>
			<span data-bind="text: Helper.User.getDisplayName(User)"></span>
		</li>
		<li data-bind="visible: Distance">
			<i class="zmdi zmdi-directions"></i>
			<span data-bind="text: Distance"></span>&nbsp;
			<span data-bind="lookupValue: DistanceUnitKey, lookups: $root.lookups.distanceUnits"></span>
		</li>
		<li data-bind="visible: IsClosed">
			<i class="zmdi zmdi-tag-close"></i>
			<span data-bind="translatedText: 'Closed'"></span>
		</li>
		@Html.PluginRenderActions("ServiceOrderTimePostingItemTemplateAttributes")
	</ul>
</div>
