@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: window.AuthorizationManager.isAuthorizedForAction('Site', 'SetMinPasswordStrength') || (!window.Main.Settings.UseOpenIdAuthentication && window.AuthorizationManager.isAuthorizedForAction('Site', 'SetMultiFactorAuthenticationMode')) -->
<fieldset class="m-b-25">
	<legend class="c-black b-0 f-500 f-14">
		@(Html.Localize("Security"))
	</legend>
	<!-- ko with: ExtensionValues -->
	<!-- ko requiredPermission: { name: 'SetMinPasswordStrength', group: 'Site' } -->
	<div class="row">
		<div class="col-xs-5 col-md-3">
			<form-element id="MinPasswordStrength" params="value: MinPasswordStrength, caption: 'SecurityMinPasswordStrength', type: 'slider', sliderOptions: { sliderArray: $root.passwordStrengths(), valueFormat: $root.passwordStrengthSliderValueFormat, tooltipFormat: $root.passwordStrengthSliderTooltipFormat, markers: true }"></form-element>
		</div>
	</div>
	<!-- /ko -->
	<!-- ko ifnot: window.Main.Settings.UseOpenIdAuthentication -->
	<!-- ko requiredPermission: { name: 'SetMultiFactorAuthenticationMode', group: 'Site' } -->
	<div class="row">
		<div class="col-xs-5 col-md-3">
			<form-element id="MultiFactorAuthenticationModeKey" params="value: MultiFactorAuthenticationModeKey, caption: 'MultiFactorAuthentication', type: 'select'">
				<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: $.extend(Helper.Lookup.getAutocompleteOptions('Main_MultiFactorAuthenticationMode'), { onSelect: $root.onMultiFactorAuthenticationModeSelect.bind($root) }), placeholder: placeholder }">
				</select>
			</form-element>
		</div>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
</fieldset>
<!-- /ko -->